In [1]:
import pandas as pd

This programm aims to merge the different dictonaries chosen together

In [2]:
# Here we load the dictionaries
urbdi = pd.read_pickle("urban_dictionary.pkl")
infdi = pd.read_csv("dict_informal_sentence.txt",header=None)
slangdi = pd.read_csv("slang_dict_Jules.txt",encoding_errors="ignore",error_bad_lines=False,header=None)

/opt/anaconda3/envs/new_base_38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 1816: expected 1 fields, saw 2\nSkipping line 2844: expected 1 fields, saw 2\nSkipping line 4569: expected 1 fields, saw 2\n'

In [3]:
#comdi = pd.read_json("most_common_words.json",charset="utf-8")
#comdi.head()

In [4]:
urbdi.head(5)

   UDid       word                                            example
0     7      Janky            Your mother cooks janky collard greens.
1     8   slumpin'  slumpin' beats and phat tracks as we spin da w...
2     9   yayeeyay  "We be dubbin!  And we's gonna bounce to play ...
3    12  hard-core  Dood, that girl's pants are too hard-core for us.
4    13     brutal      Man, this morning's calisthenics were brutal.

In [5]:
# Let's unify column name of all dictionaries :
infdi.columns = ["word"]
slangdi.columns = ["word"]

In [6]:
#It is now possible to concatenate the dictionaries together
concat_dict = pd.concat([urbdi,infdi,slangdi])

# We keep only the column with the word (or expression)
concat_dict = concat_dict.drop(["UDid","example"],axis=1)

# Let's get rid of duplicates and NaN
newdict = concat_dict.copy().drop_duplicates(subset = 'word', keep='first')
newdict = newdict.dropna()
print("It is",newdict.word.is_unique, "that there are no duplicates")
print(concat_dict.shape[0]-newdict.shape[0], "rows have been removed")

# Finally, reindex the dataframe
newdict = newdict.reset_index(drop=True)

It is True that there are no duplicates
329 rows have been removed

In [7]:
# newdict.to_pickle("./Final_Dictionary.pkl")

We finish by removing all general common words in English

In [8]:
import json

In [9]:
with open("most_common_words.json") as file :
    data = json.load(file)

In [10]:
from pandas.io.json import json_normalize #package for flattening json in pandas df

df = json_normalize(data)
df = df.columns
df = pd.DataFrame(df)
df.columns = ["word"]

/var/folders/x4/9vl5y2nx7y5dc4pzq72h6mhr0000gn/T/ipykernel_17187/1054060257.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(data)

In [11]:
df["word"] = df.word.str.replace(".end","")
df["word"] = df.word.str.replace(".","")
df

/var/folders/x4/9vl5y2nx7y5dc4pzq72h6mhr0000gn/T/ipykernel_17187/3589339007.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["word"] = df.word.str.replace(".end","")
/var/folders/x4/9vl5y2nx7y5dc4pzq72h6mhr0000gn/T/ipykernel_17187/3589339007.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["word"] = df.word.str.replace(".","")

         word
0         the
1        they
2       there
3       their
4        then
..        ...
994     quick
995     quite
996     quiet
997     quart
998  quotient

[999 rows x 1 columns]

In [12]:
toclean = pd.concat([newdict,df,df])
cleaned = toclean.copy().drop_duplicates(subset="word",keep=False)

In [13]:
toclean.shape[0] - cleaned.shape[0] - df.shape[0]

1225

In [14]:
cleaned = cleaned.reset_index(drop=True)
cleaned.shape

(20763, 1)

In [15]:
cleaned.sample(15)

                     word
14269             stricko
276                  scat
12855           gayhentai
1825        you best step
12613            CidNinja
13990          smeadlocks
1348           butterface
16519              brolly
11571             BUCK UP
10101              Faphat
5817            buzz cock
14887  Penicular Lacketes
2861             M.I.L.F.
12359           177155_17
4203             shithole