In [1]:
#packages
#to install in our environment : conda install -c conda-forge ipywidgets jupyter nbextension enable --py widgetsnbextension
import pandas as pd
from tqdm import tqdm, tqdm_notebook
tqdm_notebook().pandas()

ModuleNotFoundError: No module named 'tqdm'

In [2]:
#function to check if strin is contained and update dico
def isinside1(test_string,test_list):
    global dico
    res = [ele for ele in test_list if(ele in test_string)]
    #print(res)
    if res:
        for ele in res:
            i= test_list.index(ele)
            dico["occurences"].loc[i]= dico["occurences"].loc[i]+1
        return 1
    return 0

def isinside2(test_string,test_list):
    if any(ext in test_string for ext in test_list):
        return 1
    return 0

In [3]:
#get dico
dico= pd.read_pickle("./Final_Dictionary.pkl")
dico["occurences"]=0
dico.head()

        word  occurences
0      Janky           0
1   slumpin'           0
2   yayeeyay           0
3  hard-core           0
4     brutal           0

In [5]:
#check strings lenths and describe dico
dico["strlen"]= dico["word"].apply(lambda x : len(x))
dico.describe()
dico[dico['word']=='was']

Empty DataFrame
Columns: [word, occurences, strlen]
Index: []

In [6]:
#make list out of dico
dicolist= dico["word"].unique().tolist()
#dicolist

In [18]:
#importing dataset sample

#Jules : 
path=r'/Users/jules/ADA_project_data/Sample_cleaned_1Mio.json.bz2'

#Nico: '/Users/nicolasantacroce/Desktop/Desktop/EPFL/EPFL MA1/Applied Data Analysis/Sample.json.bz2'
df= pd.read_json(path,compression="bz2",lines=True)

In [62]:
df.head()

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
0,2015-11-11-109291,They'll call me lots of different things. Libe...,Chris Christie,[Q63879],2015-11-11 00:55:12,1,"[[Chris Christie, 0.7395], [Bobby Jindal, 0.15...",[http://thehill.com/blogs/ballot-box/259760-ch...,E
1,2015-11-04-105046,"The choices are not that easy,",Dr. John,"[Q511074, Q54593093]",2015-11-04 18:13:06,2,"[[Dr. John, 0.5531], [None, 0.4469]]",[http://delawareonline.com/story/news/health/2...,E
2,2015-09-11-070666,It's kind of the same way it's been with the R...,Niklas Kronwall,[Q722939],2015-09-11 19:54:00,1,"[[Niklas Kronwall, 0.7119], [None, 0.2067], [H...",[http://redwings.nhl.com/club/news.htm?id=7787...,E
3,2015-01-12-082489,"We're now going back to the frozen tundra, and...",Frances McDormand,[Q204299],2015-01-12 01:40:00,3,"[[Frances McDormand, 0.484], [None, 0.4495], [...",[http://feeds.people.com/~r/people/headlines/~...,E
4,2015-11-09-033345,I had a chuckle: They were showing a video of ...,Kris Draper,[Q948695],2015-11-09 00:57:45,3,"[[Kris Draper, 0.8782], [None, 0.1043], [Serge...",[http://ca.rd.yahoo.com/sports/rss/nfl/SIG=13u...,E

In [19]:
#separating quotes (really long so we try it on the first 10000)
df2= df.loc[0:9999]
df2["colloquial"]= df2["quotation"].progress_apply(lambda x : isinside1(x,dicolist))

AttributeError: 'Series' object has no attribute 'progress_apply'

In [64]:
df2.describe()

       numOccurrences  colloquial
count    10000.000000  10000.0000
mean         3.260400      0.9999
std         18.155279      0.0100
min          1.000000      0.0000
25%          1.000000      1.0000
50%          1.000000      1.0000
75%          2.000000      1.0000
max       1125.000000      1.0000

In [70]:
#removing words present in more than 1% of quotes
tresh= 0.01
dico["occurence_fraction"]= dico["occurences"]/df2["colloquial"].count()
dico.describe()

         occurences        strlen  occurence_fraction
count  20989.000000  20989.000000        20989.000000
mean      11.614941      8.810520            0.001161
std      178.323054      4.998863            0.017832
min        0.000000      1.000000            0.000000
25%        0.000000      6.000000            0.000000
50%        0.000000      8.000000            0.000000
75%        0.000000     11.000000            0.000000
max     9556.000000    143.000000            0.955600

In [72]:
#creating new dictionary without most occuring words
dico2= dico[dico["occurence_fraction"]<tresh]
dicolist2= dico2["word"].unique().tolist()
dico2.describe()

         occurences        strlen  occurence_fraction
count  20701.000000  20701.000000        20701.000000
mean       1.182986      8.888121            0.000118
std        6.905745      4.987806            0.000691
min        0.000000      1.000000            0.000000
25%        0.000000      6.000000            0.000000
50%        0.000000      8.000000            0.000000
75%        0.000000     11.000000            0.000000
max       99.000000    143.000000            0.009900

In [73]:
#re-evaluating quotes with reduced dictionary
df2["colloquial"]= df2["quotation"].progress_apply(lambda x : isinside2(x,dicolist2))

  0%|          | 0/10000 [00:00<?, ?it/s]

/var/folders/ll/9ks4sslj4hj9kg36pxlnc3xc0000gn/T/ipykernel_40184/745375064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["colloquial"]= df2["quotation"].progress_apply(lambda x : isinside2(x,dicolist2))

In [74]:
df2.describe()

       numOccurrences    colloquial
count    10000.000000  10000.000000
mean         3.260400      0.777600
std         18.155279      0.415879
min          1.000000      0.000000
25%          1.000000      1.000000
50%          1.000000      1.000000
75%          2.000000      1.000000
max       1125.000000      1.000000