## Quotes segmentation/classification

In this notebook, we treat each quote of the corpus and assign them a score, or a binary variable determining if the quote is formal or informal

In [1]:
#importing the required modules
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Small adjustments to default style of plots, making sure it's readable and colorblind-friendly everywhere
plt.style.use('seaborn-colorblind')
plt.rcParams.update({'font.size' : 12.5,
                     'figure.figsize':(10,7)})

In [4]:
%%time
#copy the path of the sample quotes: (to big to put in the git)
#ALEX: 'C:/Users/alexb/Documents/Ecole/EPFL/MasterII/ADA/'
#JULES: ...
#MARIN: ...
#NICO: ...


path_2_data = 'C:/Users/alexb/Documents/Ecole/EPFL/MasterII/ADA/'


#import the dataset sample
raw_data = pd.read_json(path_2_data + 'Sample_cleaned_1Mio.json.bz2',compression="bz2",lines=True)

raw_data.describe()

Wall time: 44.4 s

,numOccurrences,p1,p2,delta_p,year
count,668534.00000,668534.000000,668534.000000,668534.000000,668534.000000
mean,3.55898,0.818245,0.161096,0.657149,2017.536327
std,22.64603,0.095738,0.081709,0.173361,1.770882
min,1.00000,0.500100,0.008600,0.300000,2015.000000
25%,1.00000,0.747400,0.093400,0.521900,2016.000000
50%,1.00000,0.830100,0.152600,0.674900,2018.000000
75%,2.00000,0.897300,0.221900,0.802200,2019.000000
max,12086.00000,0.990800,0.350000,0.982100,2020.000000