# Retrieve metadata about speakers

This notebook is dedicated to the retrieve of the speakers metadata. First, it uses the parquet file that was provided to retrieve extra-information (occupation, date of birth, gender, religion) on speakers.

## Using provided parquet file

Pandas requires pyarrow to read parquet files, which can be installed using conda install pyarrow -c conda-forge.
You can load this file as a pandas dataframe using df = pd.read_parquet(<path_to_file>).

Schema of parquet file : 
    
    Schema:
 |-- aliases: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- date_of_birth: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- nationality: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- gender: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- lastrevid: long (nullable = true)
 |-- ethnic_group: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- US_congress_bio_ID: string (nullable = true)
 |-- occupation: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- party: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- academic_degree: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: string (nullable = true)
 |-- label: string (nullable = true)
 |-- candidacy: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)
 |-- religion: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [1]:
#importing the required modules
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
# Small adjustments to default style of plots, making sure it's readable and colorblind-friendly everywhere
plt.style.use('seaborn-colorblind')
plt.rcParams.update({'font.size' : 12.5,
                     'figure.figsize':(10,7)})

### Import data

In [4]:
#Define the path for folder containing data
#TO BE MODIFIED ACCORDING HIS OWN FOLER containing data in local
path = '../ADA_project_data/'
df_metadata = pd.read_parquet(path+'speaker_attributes.parquet')
df_metadata.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,None,None,None,[Q6581097],985453603,None,None,None,None,None,Q45441526,Cui Yan,None,item,None
1,None,None,[Q9903],[Q6581097],1008699604,None,None,None,None,None,Q45441555,Guo Ziyi,None,item,None
2,None,None,[Q9903],[Q6581097],1008699709,None,None,None,None,None,Q45441562,Wan Zikui,None,item,None
3,None,None,[Q9903],[Q6581097],1008699728,None,None,None,None,None,Q45441563,Lin Pei,None,item,None
4,None,None,[Q9683],[Q6581097],985261661,None,None,None,None,None,Q45441565,Guan Zhen,None,item,None

In [5]:
#Import the dataset sample
path = '../ADA_project_data/'
df_sample = pd.read_json(path+'Sample.json.bz2',compression = 'bz2',lines = True)
df_sample.head()

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
0,2015-11-11-109291,They'll call me lots of different things. Libe...,Chris Christie,[Q63879],2015-11-11 00:55:12,1,"[[Chris Christie, 0.7395], [Bobby Jindal, 0.15...",[http://thehill.com/blogs/ballot-box/259760-ch...,E
1,2015-11-04-105046,"The choices are not that easy,",Dr. John,"[Q511074, Q54593093]",2015-11-04 18:13:06,2,"[[Dr. John, 0.5531], [None, 0.4469]]",[http://delawareonline.com/story/news/health/2...,E
2,2015-09-11-070666,It's kind of the same way it's been with the R...,Niklas Kronwall,[Q722939],2015-09-11 19:54:00,1,"[[Niklas Kronwall, 0.7119], [None, 0.2067], [H...",[http://redwings.nhl.com/club/news.htm?id=7787...,E
3,2015-01-12-082489,"We're now going back to the frozen tundra, and...",Frances McDormand,[Q204299],2015-01-12 01:40:00,3,"[[Frances McDormand, 0.484], [None, 0.4495], [...",[http://feeds.people.com/~r/people/headlines/~...,E
4,2015-11-09-033345,I had a chuckle: They were showing a video of ...,Kris Draper,[Q948695],2015-11-09 00:57:45,3,"[[Kris Draper, 0.8782], [None, 0.1043], [Serge...",[http://ca.rd.yahoo.com/sports/rss/nfl/SIG=13u...,E

### How to tranlate items into meanings name ?

Understanding items
Items and their data are interconnected

In Wikidata, items are used to represent all the things in human knowledge, including topics, concepts, and objects. For example, the "1988 Summer Olympics", "love", "Elvis Presley", and "gorilla" are all items in Wikidata.

#### Importing the sample to join metadata with quotations :

Join quotations data with metadata :

In [48]:
#Create sub-sample to group the same authors togethers
df_sub = df_sample.sample(int(5*10e3))
s1 = len(df_sub)

#For the moment, choose rows which at minimum 1 qid associated
#Remove this row when using the data that have been wrangled
df_sub = df_sub[[len(a)>0 for a in df_sub['qids']]]

s2 = len(df_sub)

print('There is {} % of rows that have no qid associated with'.format((1-s2/s1)*100))
df_sub['qid_unique'] = df_sub['qids'].apply(lambda x: x[0]) 
df_sub['qid_unique']

There is 34.424 % of rows that have no qid associated with

913958       Q728063
145250      Q1194856
1245292    Q30015089
709231     Q12150206
445402     Q52435478
             ...
513342      Q7324127
810869      Q4716898
1186579     Q2349264
228595           Q76
467213     Q11894442
Name: qid_unique, Length: 32788, dtype: object

In [64]:
#Group quotation by speaker

df_grouped=df_sub.groupby('qid_unique') \
['quoteID'] \
.count() \
.reset_index(name='count') \
.sort_values(['count'], ascending=False) 

df_grouped.head(20)

#Interesting to note that there is the same speaker called the by different ways (e.g : Donald Trump and President Trump)

#for speaker, quotation in df_group:
#    print('Speaker : ', speaker)
#    print('Quotations', quotation)

      qid_unique  count
8581      Q22686    377
22011        Q76     77
13169    Q359442     59
262        Q1058     57
14654    Q450675     53
19800      Q6294     48
19763      Q6279     43
685       Q11673     40
14382    Q434706     36
22637     Q83106     35
14792    Q457786     33
14424     Q43723     32
13777     Q39259     31
22535     Q79983     30
15215    Q473239     28
15811   Q4911497     28
5516     Q180589     27
13566    Q380900     27
12377    Q324546     26
1278    Q1286476     25

In [70]:
#Merging with metadata

#df_merged = df_group.merge(df,how='inner',on='speaker',right_on='label')
df_merged = df_grouped.merge(df_metadata,how='inner',left_on='qid_unique', right_on='id')\.sort_values(['count'], ascending=False)
df_merged.head(10)

,qid_unique,count,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,Q76,77,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,Barack Obama,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]"
1,Q359442,59,[Bernard Sanders],[+1941-09-08T00:00:00Z],[Q30],[Q6581097],1392561607,[Q7325],S000033,"[Q82955, Q1930187, Q154549, Q1622272, Q36180, ...","[Q6542163, Q29552, Q327591, Q327591, Q29552]",[Q1765120],Q359442,Bernie Sanders,None,item,[Q9268]
2,Q450675,53,"[Jorge Mario Bergoglio, Francisco, Pope Franci...",[+1936-12-17T00:00:00Z],"[Q237, Q414]",[Q6581097],1396054797,[Q1056744],None,"[Q63173086, Q593644, Q104050302, Q36180, Q1234...",None,[Q1233889],Q450675,Francis,None,item,[Q9592]
3,Q6294,48,"[Hillary Rodham Clinton, Hillary Rodham, Hilla...",[+1947-10-26T00:00:00Z],[Q30],[Q6581072],1393846565,None,C001041,"[Q82955, Q40348, Q193391, Q36180, Q18814623, Q...","[Q29552, Q29468]","[Q163727, Q1540185]",Q6294,Hillary Clinton,"[Q699872, Q4791768]",item,[Q33203]
4,Q11673,40,[Andrew Mark Cuomo],[+1957-12-06T00:00:00Z],[Q30],[Q6581097],1393197828,[Q974693],None,"[Q40348, Q82955]",[Q29552],[Q1540185],Q11673,Andrew Cuomo,"[Q22023432, Q65047185]",item,[Q1841]
5,Q434706,36,"[Elizabeth Ann Warren, Senator Warren, Elisabe...",[+1949-06-22T00:00:00Z],[Q30],[Q6581072],1394365746,[Q49078],W000817,"[Q185351, Q82955, Q37226, Q1622272, Q40348, Q1...",[Q29552],"[Q163727, Q1540185]",Q434706,Elizabeth Warren,[Q28220813],item,[Q33203]
6,Q457786,33,"[Rodrigo Roa Duterte, Rodrigo ""Rody"" Roa Duter...",[+1945-03-28T00:00:00Z],[Q928],[Q6581097],1348817804,[Q1290600],None,[Q82955],[Q7140531],None,Q457786,Rodrigo Duterte,None,item,None
7,Q43723,32,"[Binyamin Netanyahu, Bibi, Bibi Netanyahu, Ben...",[+1949-10-21T00:00:00Z],[Q801],[Q6581097],1391756559,[Q7325],None,"[Q82955, Q193391, Q372436, Q47064, Q15958642, ...",[Q187009],"[Q787674, Q950900]",Q43723,Benjamin Netanyahu,"[Q2917048, Q2480394, Q2689039]",item,[Q9268]
8,Q473239,28,"[Michael Richard ""Mike"" Pompeo, Michael Richar...",[+1963-12-30T00:00:00Z],[Q30],[Q6581097],1393216542,None,P000602,"[Q40348, Q43845, Q2961975, Q189290, Q82955]",[Q29468],None,Q473239,Mike Pompeo,None,item,[Q178169]
9,Q180589,27,"[Boris, Alexander Boris de Pfeffel Johnson, Bo...",[+1964-06-19T00:00:00Z],"[Q30, Q145]",[Q6581097],1395092363,[Q7994501],None,"[Q1930187, Q82955, Q1607826, Q36180, Q11774202...",[Q9626],None,Q180589,Boris Johnson,"[Q30173038, Q30325756, Q428598, Q590740, Q3586...",item,[Q6423963]

In [75]:
#Replace label column at the first place

# shift column 'Name' to first position
first_column = df_merged.pop('label')
  
# insert column using insert(position,column_name,
# first_column) function
df_merged.insert(0, 'label', first_column)

In [76]:
df_merged.head(50)

,label,qid_unique,count,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,candidacy,type,religion
0,Barack Obama,Q76,77,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]"
1,Bernie Sanders,Q359442,59,[Bernard Sanders],[+1941-09-08T00:00:00Z],[Q30],[Q6581097],1392561607,[Q7325],S000033,"[Q82955, Q1930187, Q154549, Q1622272, Q36180, ...","[Q6542163, Q29552, Q327591, Q327591, Q29552]",[Q1765120],Q359442,None,item,[Q9268]
2,Francis,Q450675,53,"[Jorge Mario Bergoglio, Francisco, Pope Franci...",[+1936-12-17T00:00:00Z],"[Q237, Q414]",[Q6581097],1396054797,[Q1056744],None,"[Q63173086, Q593644, Q104050302, Q36180, Q1234...",None,[Q1233889],Q450675,None,item,[Q9592]
3,Hillary Clinton,Q6294,48,"[Hillary Rodham Clinton, Hillary Rodham, Hilla...",[+1947-10-26T00:00:00Z],[Q30],[Q6581072],1393846565,None,C001041,"[Q82955, Q40348, Q193391, Q36180, Q18814623, Q...","[Q29552, Q29468]","[Q163727, Q1540185]",Q6294,"[Q699872, Q4791768]",item,[Q33203]
4,Andrew Cuomo,Q11673,40,[Andrew Mark Cuomo],[+1957-12-06T00:00:00Z],[Q30],[Q6581097],1393197828,[Q974693],None,"[Q40348, Q82955]",[Q29552],[Q1540185],Q11673,"[Q22023432, Q65047185]",item,[Q1841]
5,Elizabeth Warren,Q434706,36,"[Elizabeth Ann Warren, Senator Warren, Elisabe...",[+1949-06-22T00:00:00Z],[Q30],[Q6581072],1394365746,[Q49078],W000817,"[Q185351, Q82955, Q37226, Q1622272, Q40348, Q1...",[Q29552],"[Q163727, Q1540185]",Q434706,[Q28220813],item,[Q33203]
6,Rodrigo Duterte,Q457786,33,"[Rodrigo Roa Duterte, Rodrigo ""Rody"" Roa Duter...",[+1945-03-28T00:00:00Z],[Q928],[Q6581097],1348817804,[Q1290600],None,[Q82955],[Q7140531],None,Q457786,None,item,None
7,Benjamin Netanyahu,Q43723,32,"[Binyamin Netanyahu, Bibi, Bibi Netanyahu, Ben...",[+1949-10-21T00:00:00Z],[Q801],[Q6581097],1391756559,[Q7325],None,"[Q82955, Q193391, Q372436, Q47064, Q15958642, ...",[Q187009],"[Q787674, Q950900]",Q43723,"[Q2917048, Q2480394, Q2689039]",item,[Q9268]
8,Mike Pompeo,Q473239,28,"[Michael Richard ""Mike"" Pompeo, Michael Richar...",[+1963-12-30T00:00:00Z],[Q30],[Q6581097],1393216542,None,P000602,"[Q40348, Q43845, Q2961975, Q189290, Q82955]",[Q29468],None,Q473239,None,item,[Q178169]
9,Boris Johnson,Q180589,27,"[Boris, Alexander Boris de Pfeffel Johnson, Bo...",[+1964-06-19T00:00:00Z],"[Q30, Q145]",[Q6581097],1395092363,[Q7994501],None,"[Q1930187, Q82955, Q1607826, Q36180, Q11774202...",[Q9626],None,Q180589,"[Q30173038, Q30325756, Q428598, Q590740, Q3586...",item,[Q6423963]
10,Marco Rubio,Q324546,26,[Marco Antonio Rubio],[+1971-05-28T00:00:00Z],[Q30],[Q6581097],1393345921,None,R000595,"[Q82955, Q40348]",[Q29468],"[Q1765120, Q1540185]",Q324546,None,item,"[Q1841, Q7361618]"
11,Mike Pence,Q24313,25,"[Michael R. Pence, Rep. Mike Pence, Michael Pe...",[+1959-06-07T00:00:00Z],[Q30],[Q6581097],1395854609,None,P000587,"[Q82955, Q40348, Q2722764]",[Q29468],None,Q24313,None,item,[Q13631353]
12,Pep Guardiola,Q164038,24,"[Josep Guardiola, Josep Guardiola i Sala, Jose...",[+1971-01-18T00:00:00Z],[Q29],[Q6581097],1388621526,None,None,"[Q937857, Q628099]",None,None,Q164038,None,item,None
15,Rahul Gandhi,Q10218,23,None,[+1970-06-19T00:00:00Z],[Q668],[Q6581097],1348295449,None,None,[Q82955],[Q10225],None,Q10218,[Q63988877],item,[Q9089]
14,Lindsey Graham,Q22212,23,[Lindsey Olin Graham],[+1955-07-09T00:00:00Z],[Q30],[Q6581097],1392182121,None,G000359,"[Q82955, Q19934710, Q40348, Q5177784, Q5123536]",[Q29468],"[Q1765120, Q1540185]",Q22212,None,item,[Q1351880]
13,Vladimir Putin,Q7747,23,"[Vladimir Vladimirovich Putin, Putin, Presiden...",[+1952-10-07T00:00:00Z],"[Q15180, Q159]",[Q6581097],1395274624,[Q49542],None,"[Q82955, Q185351, Q6665249, Q18814623, Q239273...","[Q79854, Q4488786, Q151469]",[Q17744738],Q7747,"[Q19760074, Q488814, Q1505420, Q1348890]",item,"[Q60995, Q3333484]"
16,Nancy Pelosi,Q170581,21,"[Nancy Patricia D'Alesandro Pelosi, Nancy Patr...",[+1940-03-26T00:00:00Z],[Q30],[Q6581072],1392905094,[Q974693],P000197,[Q82955],[Q29552],None,Q170581,"[Q28404971, Q28122293, Q52494157]",item,[Q1841]
17,Theresa May,Q264766,21,"[Theresa Mary Brasier, Prime Minister Theresa ...",[+1956-10-01T00:00:00Z],[Q145],[Q6581072],1392235818,[Q7994501],None,[Q82955],[Q9626],None,Q264766,"[Q30173038, Q215622, Q590740, Q428598, Q918503...",item,[Q6423963]
18,LeBron James,Q36159,19,"[LeBron Raymone James Sr., King James, LBJ, Le...",[+1984-12-30T00:00:00Z],[Q30],[Q6581097],1395492157,[Q49085],None,"[Q3665646, Q28389, Q10798782]",None,None,Q36159,None,item,None
19,Michael Bloomberg,Q607,19,"[Michael Rubens Bloomberg, Michael R. Bloomber...",[+1942-02-14T00:00:00Z],[Q30],[Q6581097],1391164280,[Q7325],None,"[Q43845, Q82955, Q2095549, Q36180, Q1424605, Q...","[Q29552, Q29468, Q29552]",None,Q607,None,item,"[Q9268, Q1133485]"
20,Gavin Newsom,Q461391,17,[Gavin Christopher Newsom],[+1967-10-10T00:00:00Z],[Q30],[Q6581097],1396128461,None,None,"[Q82955, Q3427922, Q43845]",[Q29552],None,Q461391,None,item,[Q9592]
21,Malcolm Turnbull,Q927550,17,[Malcolm Bligh Turnbull],[+1954-10-24T00:00:00Z],[Q408],[Q6581097],1388042865,None,None,"[Q1930187, Q82955, Q131524, Q40348, Q2883465]",[Q241149],None,Q927550,None,item,[Q1841]
22,Arun Jaitley,Q3629480,16,None,[+1952-12-28T00:00:00Z],[Q668],[Q6581097],1382428033,None,None,"[Q82955, Q40348, Q17221, Q7621877]",[Q10230],None,Q3629480,[Q63988621],item,[Q9089]
23,Lewis Hamilton,Q6536656,16,None,[+1984-11-21T00:00:00Z],[Q145],[Q6581097],1392677497,None,None,[Q937857],None,None,Q6536656,None,item,None
24,Elon Musk,Q317521,16,"[Elon Reeve Musk, Elon R. Musk, Elon R Musk]",[+1971-06-28T00:00:00Z],"[Q258, Q16, Q30]",[Q6581097],1395054202,None,None,"[Q15895020, Q205375, Q5482740, Q81096, Q131524...",None,None,Q317521,None,item,[Q288928]
25,Tim Cook,Q1404825,16,None,[+1984-03-13T00:00:00Z],[Q30],[Q6581097],1323626384,None,None,[Q11774891],None,None,Q1404825,None,item,None
28,Mauricio Pochettino,Q313000,15,"[Mauricio Roberto Pochettino Trassero, Maricar...",[+1972-03-02T00:00:00Z],"[Q414, Q29]",[Q6581097],1365925966,None,None,"[Q937857, Q628099]",None,None,Q313000,None,item,None
26,Anthony Fauci,Q573246,15,"[Anthony S. Fauci, Anthony S Fauci, Anthony St...",[+1940-12-24T00:00:00Z],[Q30],[Q6581097],1387979010,None,None,"[Q15634285, Q39631, Q1650915]",None,[Q913404],Q573246,None,item,[Q1841]
27,Jeff Banister,Q6173283,15,[Jeffery Todd Banister],[+1965-01-15T00:00:00Z],[Q30],[Q6581097],1378257491,None,None,[Q10871364],None,None,Q6173283,None,item,None
30,Rajnath Singh,Q3506475,14,"[Rajnath, Rajnath Dev Singh]",[+1951-07-10T00:00:00Z],[Q668],[Q6581097],1382582279,None,None,"[Q82955, Q169470]","[Q10230, Q3245961, Q2352638]",None,Q3506475,[Q63988874],item,[Q9089]
31,Mitch McConnell,Q355522,14,"[Addison Mitchell McConnell, Jr., Addison Mitc...",[+1942-02-20T00:00:00Z],[Q30],[Q6581097],1392727294,None,M000355,"[Q82955, Q40348, Q16533, Q1450482, Q211236]",[Q29468],None,Q355522,None,item,[Q1351880]
32,Joe Maddon,Q1093629,14,"[Joseph John Maddon, Joseph John Maddon Jr.]",[+1954-02-08T00:00:00Z],[Q30],[Q6581097],1315755360,None,None,"[Q10871364, Q865935, Q1186921]",None,None,Q1093629,None,item,None
29,Virat Kohli,Q213854,14,[Cheeku],[+1988-11-05T00:00:00Z],[Q668],[Q6581097],1390478408,None,None,[Q12299841],None,None,Q213854,None,item,[Q9089]
33,Stephen Curry,Q352159,13,"[Wardell Stephen Curry II, Steph Curry, Wardel...",[+1988-03-14T00:00:00Z],[Q30],[Q6581097],1389300978,[Q49085],None,[Q3665646],None,None,Q352159,None,item,None
34,Jeremy Corbyn,Q291169,13,[Jeremy Bernard Corbyn],"[+1949-05-26T00:00:00Z, +1949-01-01T00:00:00Z]",[Q145],[Q6581097],1396097133,None,None,"[Q15627169, Q82955]",[Q9630],None,Q291169,"[Q30173038, Q918466, Q918472, Q918503, Q428598...",item,None
35,Nicola Sturgeon,Q467112,13,[Nicola Ferguson Sturgeon],[+1970-07-19T00:00:00Z],"[Q22, Q145]",[Q6581072],1395095252,None,None,"[Q82955, Q40348]",[Q10658],None,Q467112,None,item,[Q922480]
36,Kim Kardashian,Q186304,13,"[Kim Kardashian West, KiKi, Keeks, Kim K, Kimb...",[+1980-10-21T00:00:00Z],[Q30],[Q6581072],1395690668,"[Q2325516, Q1058496, Q1344183, Q1075293, Q3476...",None,"[Q3501317, Q512314, Q4610556, Q8246794, Q13152...",[Q29552],None,Q186304,None,item,[Q5043]
37,Muhammadu Buhari,Q361567,13,"[GMB, PMB, Baba buhari, Bubu, Baba Go Slow]",[+1942-12-17T00:00:00Z],[Q1033],[Q6581097],1391282556,[Q33938],None,"[Q47064, Q82955]","[Q5160852, Q4729266]",None,Q361567,"[Q24961921, Q56684494]",item,[Q432]
38,Jeb Bush,Q221997,13,"[John Ellis Bush, Bush, Jeb, John Ellis ""Jeb"" ...",[+1953-02-11T00:00:00Z],"[Q30, Q29]",[Q6581097],1393415091,None,None,"[Q806798, Q82955, Q17487600, Q1413170, Q36180]",[Q29468],[Q1765120],Q221997,None,item,"[Q682443, Q1841]"
44,Mike DeWine,Q1363468,12,"[Richard Michael DeWine, Richard DeWine, Micha...",[+1947-01-05T00:00:00Z],[Q30],[Q6581097],1392437484,None,D000294,"[Q82955, Q40348]",[Q29468],None,Q1363468,None,item,None
47,Dave Roberts,Q5229686,12,None,None,[Q30],[Q6581097],1392070268,None,None,"[Q33999, Q10798782]",None,None,Q5229686,None,item,None
46,Joe Girardi,Q1186457,12,[Joseph Elliot Girardi],[+1964-10-14T00:00:00Z],[Q30],[Q6581097],1377618193,None,None,"[Q10871364, Q1186921]",None,None,Q1186457,None,item,None
45,Rudy Giuliani,Q212648,12,"[Rudolph Giuliani, Rudolph William Louis Giuli...",[+1944-05-28T00:00:00Z],[Q30],[Q6581097],1394825933,None,None,"[Q40348, Q82955, Q36180, Q131524]",[Q29468],[Q1765120],Q212648,[Q4791860],item,None
40,Jay Inslee,Q1100710,12,[Jay Robert Inslee],[+1951-02-09T00:00:00Z],[Q30],[Q6581097],1393018467,None,I000026,"[Q82955, Q40348, Q600751]",[Q29552],None,Q1100710,None,item,[Q23540]
43,Pete Carroll,Q1758777,12,None,[+1951-09-15T00:00:00Z],[Q30],[Q6581097],1378242166,None,None,[Q19204627],None,None,Q1758777,None,item,None
42,Brendan Rodgers,Q19973684,12,[Brendan Austin Rodgers],[+1996-08-09T00:00:00Z],[Q30],[Q6581097],1374372202,None,None,[Q10871364],None,None,Q19973684,None,item,None
41,John McCain,Q10390,12,"[John Sidney McCain III, John S. McCain, III]",[+1936-08-29T00:00:00Z],[Q30],[Q6581097],1388502237,"[Q3476361, Q7435494, Q846570]",M000303,"[Q82955, Q10669499, Q18814623, Q618694, Q37243...",[Q29468],None,Q10390,"[Q45578, Q4791860]",item,"[Q1351880, Q23540, Q93191]"
39,Harry Roque,Q23303083,12,None,[+1966-10-21T00:00:00Z],[Q928],[Q6581097],1391140852,None,None,[Q82955],"[Q7165740, Q25101390]",None,Q23303083,None,item,None
53,Angela Merkel,Q567,11,"[Angela Dorothea Merkel, Angela Kasner, Angela...",[+1954-07-17T00:00:00Z],"[Q183, Q16957]",[Q6581072],1394947627,[Q42884],None,"[Q82955, Q169470, Q372436, Q593644]","[Q49762, Q677182]",[Q849697],Q567,"[Q555931, Q15062956, Q704648, Q702017, Q704641...",item,"[Q170111, Q75809]"
57,Melania Trump,Q432473,11,"[Melanija Knavs, Melania Knauss, Melania Knaus...",[+1970-04-26T00:00:00Z],"[Q215, Q83286, Q30]",[Q6581072],1386259124,[Q15863],None,"[Q4610556, Q2519376, Q211236, Q43845]",[Q29468],None,Q432473,None,item,"[Q9592, Q5043]"

#### Representativity of the data

In [91]:
#Check the repartition of the data according several criterias 

#Plot an histogram of ages of speakers by number of quotations
df_merged['nationality'].apply(lambda x:x[0])
country = df_merged.groupby('nationality')['count'] 
country.head(20)

TypeError: 'NoneType' object is not subscriptable

#Count how many speakers has no metadata


print('There are {} speakers'.format(len(df_merged)))
print('{} speakers that have not metadata'.format(len(df_no_metadata)))

print('There is {} % of speakers that has no metadata'.format(100*len(df_no_metadata)/len(df_merged)))
print(df_no_metadata.sample(50))

## Aditionnal metadata from Wikidata

Script to retrieve metedata from Quotebank entries :

'''
Execute this script as: 
python query_wikidata_dump.py --input <path-to-wikidata-json-dump> --output <path-to-output-json-file>
'''

import json
import sys
from tqdm import tqdm
from argparse import ArgumentParser
import gzip

parser = ArgumentParser()
parser.add_argument("--input", required=True)
parser.add_argument("--output", required=True)
args = parser.parse_args()

# Usage:


def main():
    # Do not enforce encoding here since the input encoding is correct
    with open(args.output, "w") as output_file:
        with gzip.open(args.input, 'rb') as s_file:
            for instance in s_file:
                instance = instance.decode('utf-8')
                instance = instance[:-2]
                if len(instance)==0:
                    continue
                s = json.loads(instance.strip("\n"))

                if s.get("labels", {}).get("en") is not None:
                    s["label"] = s["labels"]["en"]["value"]
                if s.get("labels") is not None:
                    del s["labels"]
                else:
                    continue

                # Occupation
                if len(s.get("claims", {}).get("P106", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P106"]:
                        # id: "Q123", "numeric-id": 123
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["occupation"] = tmp

                # Gender
                if len(s.get("claims", {}).get("P21", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P21"]:
                        # id: "Q123", "numeric-id": 123
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["gender"] = tmp

                # Country of citizenship
                if len(s.get("claims", {}).get("P27", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P27"]:
                        # id: "Q123", "numeric-id": 123
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["nationality"] = tmp

                # Position Held
                if len(s.get("claims", {}).get("P39", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P39"]:
                        # id: "Q123", "numeric-id": 123
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["positions_held"] = tmp

                # Date of Birth
                if len(s.get("claims", {}).get("P569", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P569"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("time")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["time"])
                    if len(tmp) > 0:
                        s["date_of_birth"] = tmp

                # Academic Degree
                if len(s.get("claims", {}).get("P512", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P512"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["academic_degree"] = tmp

                # Member of Political Party
                if len(s.get("claims", {}).get("P102", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P102"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["party"] = tmp

                # Candidacy in election
                if len(s.get("claims", {}).get("P3602", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P3602"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["candidacy"] = tmp

                # US Congress Bio ID
                # Get more information on the politicians based on the ID here: https://bioguide.congress.gov
                if len(s.get("claims", {}).get("P1157", [])) > 0:
                    tmp = None
                    for v in s["claims"]["P1157"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value")
                            is not None
                        ):
                            tmp = v["mainsnak"]["datavalue"]["value"]
                            break
                    if tmp is not None:
                        s["US_congress_bio_ID"] = tmp

                # Ethnic Group
                if len(s.get("claims", {}).get("P172", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P172"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["ethnic_group"] = tmp

                # Religion
                if len(s.get("claims", {}).get("P140", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P140"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["religion"] = tmp

                # Aliases. Removing leftovers and unnecessary attributes
                if len(s.get("aliases", {}).get("en", [])) > 0:
                    s["aliases"] = [v["value"] for v in s["aliases"]["en"]]
                elif s.get("aliases") is not None:
                    del s["aliases"]
                if s.get("descriptions") is not None:
                    del s["descriptions"]
                if s.get("sitelinks") is not None:
                    del s["sitelinks"]
                if s.get("claims") is not None:
                    del s["claims"]

                output_file.write(json.dumps(s, ensure_ascii=False) + "\n")

if __name__ == "__main__":
    main()