# Retrieve metadata about speakers

This notebook is dedicated to the retrieve of the speakers metadata. First, it uses the parquet file that was provided to retrieve extra-information (occupation, date of birth, gender, religion) on speakers.

## Using provided parquet file

Pandas requires pyarrow to read parquet files, which can be installed using conda install pyarrow -c conda-forge.
You can load this file as a pandas dataframe using df = pd.read_parquet(<path_to_file>).

Schema of parquet file : 
    
    Schema:
 |-- aliases: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- date_of_birth: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- nationality: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- gender: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- lastrevid: long (nullable = true)
 |-- ethnic_group: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- US_congress_bio_ID: string (nullable = true)
 |-- occupation: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- party: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- academic_degree: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: string (nullable = true)
 |-- label: string (nullable = true)
 |-- candidacy: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)
 |-- religion: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [1]:
#importing the required modules
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
# Small adjustments to default style of plots, making sure it's readable and colorblind-friendly everywhere
plt.style.use('seaborn-colorblind')
plt.rcParams.update({'font.size' : 12.5,
                     'figure.figsize':(10,7)})

### Import data

In [4]:
#Define the path for folder containing data
#TO BE MODIFIED ACCORDING HIS OWN FOLER containing data in local
path = '../ADA_project_data/'
df_metadata = pd.read_parquet(path+'speaker_attributes.parquet')
df_metadata.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,None,None,None,[Q6581097],985453603,None,None,None,None,None,Q45441526,Cui Yan,None,item,None
1,None,None,[Q9903],[Q6581097],1008699604,None,None,None,None,None,Q45441555,Guo Ziyi,None,item,None
2,None,None,[Q9903],[Q6581097],1008699709,None,None,None,None,None,Q45441562,Wan Zikui,None,item,None
3,None,None,[Q9903],[Q6581097],1008699728,None,None,None,None,None,Q45441563,Lin Pei,None,item,None
4,None,None,[Q9683],[Q6581097],985261661,None,None,None,None,None,Q45441565,Guan Zhen,None,item,None

In [92]:
#Import the dataset sample
path = '../ADA_project_data/'
#df_sample = pd.read_json(path+'Sample.json.bz2',compression = 'bz2',lines = True)
#For cleaned data 
df_sample = pd.read_json(path+'Sample_cleaned_400000.json.bz2',compression = 'bz2',lines = True)
df_sample.head()

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase,p1,p2,delta_p,year
0,2015-11-11-109291,They'll call me lots of different things. Libe...,Chris Christie,[Q63879],2015-11-11 00:55:12,1,"[[Chris Christie, 0.7395], [Bobby Jindal, 0.15...",[http://thehill.com/blogs/ballot-box/259760-ch...,E,0.7395,0.1505,0.5890,2015
1,2015-09-11-070666,It's kind of the same way it's been with the R...,Niklas Kronwall,[Q722939],2015-09-11 19:54:00,1,"[[Niklas Kronwall, 0.7119], [None, 0.2067], [H...",[http://redwings.nhl.com/club/news.htm?id=7787...,E,0.7119,0.2067,0.5052,2015
2,2015-11-09-033345,I had a chuckle: They were showing a video of ...,Kris Draper,[Q948695],2015-11-09 00:57:45,3,"[[Kris Draper, 0.8782], [None, 0.1043], [Serge...",[http://ca.rd.yahoo.com/sports/rss/nfl/SIG=13u...,E,0.8782,0.1043,0.7739,2015
3,2015-09-05-038628,New Zealand will go in with a lot of confidenc...,John Eales,[Q926351],2015-09-05 02:40:10,3,"[[John Eales, 0.7896], [None, 0.2006], [Toutai...",[http://www.stuff.co.nz/sport/rugby/all-blacks...,E,0.7896,0.2006,0.5890,2015
4,2015-02-11-042325,In his suicide note he even made a joke thanki...,Pat Buckley,"[Q19956564, Q23006312, Q7143252, Q7143253]",2015-02-11 09:59:09,1,"[[Pat Buckley, 0.8816], [None, 0.1184]]",[http://independent.ie/life/health-wellbeing/m...,E,0.8816,0.1184,0.7632,2015

### How to tranlate items into meanings name ?

Understanding items
Items and their data are interconnected

In Wikidata, items are used to represent all the things in human knowledge, including topics, concepts, and objects. For example, the "1988 Summer Olympics", "love", "Elvis Presley", and "gorilla" are all items in Wikidata.

#### Importing the sample to join metadata with quotations :

Join quotations data with metadata :

In [94]:
#Create sub-sample to group the same authors togethers
#df_sub = df_sample.sample(int(5*10e3))
df_sub = df_sample.copy()
s1 = len(df_sub)

#For the moment, choose rows which at minimum 1 qid associated
#Remove this row when using the data that have been wrangled
df_sub = df_sub[[len(a)>0 for a in df_sub['qids']]]

s2 = len(df_sub)

print('There is {} % of rows that have no qid associated with'.format((1-s2/s1)*100))
df_sub['qid_unique'] = df_sub['qids'].apply(lambda x: x[0]) 
df_sub['qid_unique']

There is 0.0 % of rows that have no qid associated with

0            Q63879
1           Q722939
2           Q948695
3           Q926351
4         Q19956564
            ...
213352    Q42212234
213353      Q464312
213354     Q6524549
213355     Q1444739
213356    Q18097882
Name: qid_unique, Length: 213357, dtype: object

In [95]:
#Group quotation by speaker

df_grouped=df_sub.groupby('qid_unique') \
['quoteID'] \
.count() \
.reset_index(name='count') \
.sort_values(['count'], ascending=False) 

df_grouped.head(20)

#Interesting to note that there is the same speaker called the by different ways (e.g : Donald Trump and President Trump)

#for speaker, quotation in df_group:
#    print('Speaker : ', speaker)
#    print('Quotations', quotation)

      qid_unique  count
31053     Q22686   1312
84803        Q76   1042
75352      Q6294    617
53781    Q450675    352
814        Q1058    316
48147    Q359442    309
25215   Q2036942    250
30764     Q22316    232
2563    Q1173911    215
87233     Q79983    209
45242    Q324546    195
75275   Q6288836    192
52957     Q43723    172
54378    Q457786    156
87594    Q816459    152
30432    Q221997    148
57      Q1017017    142
26304    Q207431    140
48347   Q3629480    137
88922    Q973577    136

In [97]:
#Merging with metadata

#df_merged = df_group.merge(df,how='inner',on='speaker',right_on='label')
df_merged = df_grouped.merge(df_metadata,how='inner',left_on='qid_unique', right_on='id').sort_values(['count'], ascending=False)
df_merged.head(10)

,qid_unique,count,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,Q76,1042,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,Barack Obama,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]"
1,Q6294,617,"[Hillary Rodham Clinton, Hillary Rodham, Hilla...",[+1947-10-26T00:00:00Z],[Q30],[Q6581072],1393846565,None,C001041,"[Q82955, Q40348, Q193391, Q36180, Q18814623, Q...","[Q29552, Q29468]","[Q163727, Q1540185]",Q6294,Hillary Clinton,"[Q699872, Q4791768]",item,[Q33203]
2,Q450675,352,"[Jorge Mario Bergoglio, Francisco, Pope Franci...",[+1936-12-17T00:00:00Z],"[Q237, Q414]",[Q6581097],1396054797,[Q1056744],None,"[Q63173086, Q593644, Q104050302, Q36180, Q1234...",None,[Q1233889],Q450675,Francis,None,item,[Q9592]
3,Q359442,309,[Bernard Sanders],[+1941-09-08T00:00:00Z],[Q30],[Q6581097],1392561607,[Q7325],S000033,"[Q82955, Q1930187, Q154549, Q1622272, Q36180, ...","[Q6542163, Q29552, Q327591, Q327591, Q29552]",[Q1765120],Q359442,Bernie Sanders,None,item,[Q9268]
4,Q22316,232,"[John Forbes Kerry, Kerry, John F. Kerry]",[+1943-12-11T00:00:00Z],[Q30],[Q6581097],1393166711,None,K000148,"[Q82955, Q10669499, Q40348, Q193391, Q2095549,...",[Q29552],None,Q22316,John Kerry,[Q464075],item,[Q9592]
5,Q1173911,215,None,[+1933-01-21T00:00:00Z],[Q145],[Q6581097],1392347409,None,None,[Q33999],None,None,Q1173911,David Cameron,None,item,None
6,Q324546,195,[Marco Antonio Rubio],[+1971-05-28T00:00:00Z],[Q30],[Q6581097],1393345921,None,R000595,"[Q82955, Q40348]",[Q29468],"[Q1765120, Q1540185]",Q324546,Marco Rubio,None,item,"[Q1841, Q7361618]"
7,Q43723,172,"[Binyamin Netanyahu, Bibi, Bibi Netanyahu, Ben...",[+1949-10-21T00:00:00Z],[Q801],[Q6581097],1391756559,[Q7325],None,"[Q82955, Q193391, Q372436, Q47064, Q15958642, ...",[Q187009],"[Q787674, Q950900]",Q43723,Benjamin Netanyahu,"[Q2917048, Q2480394, Q2689039]",item,[Q9268]
8,Q457786,156,"[Rodrigo Roa Duterte, Rodrigo ""Rody"" Roa Duter...",[+1945-03-28T00:00:00Z],[Q928],[Q6581097],1348817804,[Q1290600],None,[Q82955],[Q7140531],None,Q457786,Rodrigo Duterte,None,item,None
9,Q221997,148,"[John Ellis Bush, Bush, Jeb, John Ellis ""Jeb"" ...",[+1953-02-11T00:00:00Z],"[Q30, Q29]",[Q6581097],1393415091,None,None,"[Q806798, Q82955, Q17487600, Q1413170, Q36180]",[Q29468],[Q1765120],Q221997,Jeb Bush,None,item,"[Q682443, Q1841]"

In [100]:
#Replace label column at the first place

# shift column 'Name' to first position
first_column = df_merged.pop('label')
  
# insert column using insert(position,column_name,
# first_column) function
df_merged.insert(0, 'label', first_column)

In [99]:
df_merged.head(50)

,label,qid_unique,count,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,candidacy,type,religion
0,Barack Obama,Q76,1042,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]"
1,Hillary Clinton,Q6294,617,"[Hillary Rodham Clinton, Hillary Rodham, Hilla...",[+1947-10-26T00:00:00Z],[Q30],[Q6581072],1393846565,None,C001041,"[Q82955, Q40348, Q193391, Q36180, Q18814623, Q...","[Q29552, Q29468]","[Q163727, Q1540185]",Q6294,"[Q699872, Q4791768]",item,[Q33203]
2,Francis,Q450675,352,"[Jorge Mario Bergoglio, Francisco, Pope Franci...",[+1936-12-17T00:00:00Z],"[Q237, Q414]",[Q6581097],1396054797,[Q1056744],None,"[Q63173086, Q593644, Q104050302, Q36180, Q1234...",None,[Q1233889],Q450675,None,item,[Q9592]
3,Bernie Sanders,Q359442,309,[Bernard Sanders],[+1941-09-08T00:00:00Z],[Q30],[Q6581097],1392561607,[Q7325],S000033,"[Q82955, Q1930187, Q154549, Q1622272, Q36180, ...","[Q6542163, Q29552, Q327591, Q327591, Q29552]",[Q1765120],Q359442,None,item,[Q9268]
4,John Kerry,Q22316,232,"[John Forbes Kerry, Kerry, John F. Kerry]",[+1943-12-11T00:00:00Z],[Q30],[Q6581097],1393166711,None,K000148,"[Q82955, Q10669499, Q40348, Q193391, Q2095549,...",[Q29552],None,Q22316,[Q464075],item,[Q9592]
5,David Cameron,Q1173911,215,None,[+1933-01-21T00:00:00Z],[Q145],[Q6581097],1392347409,None,None,[Q33999],None,None,Q1173911,None,item,None
6,Marco Rubio,Q324546,195,[Marco Antonio Rubio],[+1971-05-28T00:00:00Z],[Q30],[Q6581097],1393345921,None,R000595,"[Q82955, Q40348]",[Q29468],"[Q1765120, Q1540185]",Q324546,None,item,"[Q1841, Q7361618]"
7,Benjamin Netanyahu,Q43723,172,"[Binyamin Netanyahu, Bibi, Bibi Netanyahu, Ben...",[+1949-10-21T00:00:00Z],[Q801],[Q6581097],1391756559,[Q7325],None,"[Q82955, Q193391, Q372436, Q47064, Q15958642, ...",[Q187009],"[Q787674, Q950900]",Q43723,"[Q2917048, Q2480394, Q2689039]",item,[Q9268]
8,Rodrigo Duterte,Q457786,156,"[Rodrigo Roa Duterte, Rodrigo ""Rody"" Roa Duter...",[+1945-03-28T00:00:00Z],[Q928],[Q6581097],1348817804,[Q1290600],None,[Q82955],[Q7140531],None,Q457786,None,item,None
9,Jeb Bush,Q221997,148,"[John Ellis Bush, Bush, Jeb, John Ellis ""Jeb"" ...",[+1953-02-11T00:00:00Z],"[Q30, Q29]",[Q6581097],1393415091,None,None,"[Q806798, Q82955, Q17487600, Q1413170, Q36180]",[Q29468],[Q1765120],Q221997,None,item,"[Q682443, Q1841]"
10,Louis van Gaal,Q207431,140,[Aloysius Paulus Maria van Gaal],[+1951-08-08T00:00:00Z],[Q29999],[Q6581097],1390309283,None,None,"[Q937857, Q628099]",None,None,Q207431,None,item,None
11,Arun Jaitley,Q3629480,137,None,[+1952-12-28T00:00:00Z],[Q668],[Q6581097],1382428033,None,None,"[Q82955, Q40348, Q17221, Q7621877]",[Q10230],None,Q3629480,[Q63988621],item,[Q9089]
12,Joe Maddon,Q1093629,135,"[Joseph John Maddon, Joseph John Maddon Jr.]",[+1954-02-08T00:00:00Z],[Q30],[Q6581097],1315755360,None,None,"[Q10871364, Q865935, Q1186921]",None,None,Q1093629,None,item,None
13,Vladimir Putin,Q7747,134,"[Vladimir Vladimirovich Putin, Putin, Presiden...",[+1952-10-07T00:00:00Z],"[Q15180, Q159]",[Q6581097],1395274624,[Q49542],None,"[Q82955, Q185351, Q6665249, Q18814623, Q239273...","[Q79854, Q4488786, Q151469]",[Q17744738],Q7747,"[Q19760074, Q488814, Q1505420, Q1348890]",item,"[Q60995, Q3333484]"
14,Will Schuester,Q348577,122,"[Anthony John Abbott, Anthony John ""Tony"" Abbo...",[+1957-11-04T00:00:00Z],"[Q408, Q145]",[Q6581097],1394062431,None,None,[Q82955],[Q241149],None,Q348577,None,item,[Q1841]
15,Joe Girardi,Q1186457,116,[Joseph Elliot Girardi],[+1964-10-14T00:00:00Z],[Q30],[Q6581097],1377618193,None,None,"[Q10871364, Q1186921]",None,None,Q1186457,None,item,None
16,Malcolm Turnbull,Q927550,113,[Malcolm Bligh Turnbull],[+1954-10-24T00:00:00Z],[Q408],[Q6581097],1388042865,None,None,"[Q1930187, Q82955, Q131524, Q40348, Q2883465]",[Q241149],None,Q927550,None,item,[Q1841]
17,Tim Cook,Q1404825,110,None,[+1984-03-13T00:00:00Z],[Q30],[Q6581097],1323626384,None,None,[Q11774891],None,None,Q1404825,None,item,None
18,Mike Pence,Q24313,103,"[Michael R. Pence, Rep. Mike Pence, Michael Pe...",[+1959-06-07T00:00:00Z],[Q30],[Q6581097],1395854609,None,P000587,"[Q82955, Q40348, Q2722764]",[Q29468],None,Q24313,None,item,[Q13631353]
21,LeBron James,Q36159,96,"[LeBron Raymone James Sr., King James, LBJ, Le...",[+1984-12-30T00:00:00Z],[Q30],[Q6581097],1395492157,[Q49085],None,"[Q3665646, Q28389, Q10798782]",None,None,Q36159,None,item,None
22,Rand Paul,Q463557,96,"[Randal Howard Paul, Randal Howard ""Rand"" Paul]",[+1963-01-07T00:00:00Z],[Q30],[Q6581097],1392091442,None,P000603,"[Q82955, Q39631, Q12013238]",[Q29468],[Q913404],Q463557,None,item,[Q178169]
19,Pete Carroll,Q1758777,96,None,[+1951-09-15T00:00:00Z],[Q30],[Q6581097],1378242166,None,None,[Q19204627],None,None,Q1758777,None,item,None
20,Jeremy Corbyn,Q291169,96,[Jeremy Bernard Corbyn],"[+1949-05-26T00:00:00Z, +1949-01-01T00:00:00Z]",[Q145],[Q6581097],1396097133,None,None,"[Q15627169, Q82955]",[Q9630],None,Q291169,"[Q30173038, Q918466, Q918472, Q918503, Q428598...",item,None
23,Brendan Rodgers,Q19973684,93,[Brendan Austin Rodgers],[+1996-08-09T00:00:00Z],[Q30],[Q6581097],1374372202,None,None,[Q10871364],None,None,Q19973684,None,item,None
24,Kim Kardashian,Q186304,92,"[Kim Kardashian West, KiKi, Keeks, Kim K, Kimb...",[+1980-10-21T00:00:00Z],[Q30],[Q6581072],1395690668,"[Q2325516, Q1058496, Q1344183, Q1075293, Q3476...",None,"[Q3501317, Q512314, Q4610556, Q8246794, Q13152...",[Q29552],None,Q186304,None,item,[Q5043]
25,John Key,Q57783,91,"[John Philip Key, Sir John Philip Key, John Ph...",[+1961-08-09T00:00:00Z],[Q664],[Q6581097],1377190794,None,None,"[Q82955, Q188094]",[Q204716],None,Q57783,None,item,None
26,Buck Showalter,Q921030,91,None,[+1956-05-23T00:00:00Z],[Q30],[Q6581097],1310779521,None,None,[Q10871364],None,None,Q921030,None,item,None
27,John McCain,Q10390,90,"[John Sidney McCain III, John S. McCain, III]",[+1936-08-29T00:00:00Z],[Q30],[Q6581097],1388502237,"[Q3476361, Q7435494, Q846570]",M000303,"[Q82955, Q10669499, Q18814623, Q618694, Q37243...",[Q29468],None,Q10390,"[Q45578, Q4791860]",item,"[Q1351880, Q23540, Q93191]"
28,Lewis Hamilton,Q6536656,89,None,[+1984-11-21T00:00:00Z],[Q145],[Q6581097],1392677497,None,None,[Q937857],None,None,Q6536656,None,item,None
29,Elon Musk,Q317521,88,"[Elon Reeve Musk, Elon R. Musk, Elon R Musk]",[+1971-06-28T00:00:00Z],"[Q258, Q16, Q30]",[Q6581097],1395054202,None,None,"[Q15895020, Q205375, Q5482740, Q81096, Q131524...",None,None,Q317521,None,item,[Q288928]
30,Andy Murray,Q10125,88,"[Andrew Murray, Andrew Barron Murray, Andy Bar...",[+1987-05-15T00:00:00Z],[Q145],[Q6581097],1389280297,[Q181634],None,[Q10833314],None,None,Q10125,None,item,None
31,John Kirby,Q16136520,87,[John Kirby (1949)],"[+1949-01-01T00:00:00Z, +1949-03-09T00:00:00Z]",[Q145],[Q6581097],1380907607,None,None,[Q1028181],None,None,Q16136520,None,item,None
32,Lindsey Graham,Q22212,87,[Lindsey Olin Graham],[+1955-07-09T00:00:00Z],[Q30],[Q6581097],1392182121,None,G000359,"[Q82955, Q19934710, Q40348, Q5177784, Q5123536]",[Q29468],"[Q1765120, Q1540185]",Q22212,None,item,[Q1351880]
33,Andrew Cuomo,Q11673,86,[Andrew Mark Cuomo],[+1957-12-06T00:00:00Z],[Q30],[Q6581097],1393197828,[Q974693],None,"[Q40348, Q82955]",[Q29552],[Q1540185],Q11673,"[Q22023432, Q65047185]",item,[Q1841]
34,Bill Belichick,Q720027,86,[William Stephen Belichick],[+1952-04-16T00:00:00Z],[Q30],[Q6581097],1377377437,None,None,"[Q41583, Q42331263]",None,None,Q720027,None,item,None
35,Angela Merkel,Q567,85,"[Angela Dorothea Merkel, Angela Kasner, Angela...",[+1954-07-17T00:00:00Z],"[Q183, Q16957]",[Q6581072],1394947627,[Q42884],None,"[Q82955, Q169470, Q372436, Q593644]","[Q49762, Q677182]",[Q849697],Q567,"[Q555931, Q15062956, Q704648, Q702017, Q704641...",item,"[Q170111, Q75809]"
37,Chip Kelly,Q3196830,84,None,[+1963-11-25T00:00:00Z],[Q30],[Q6581097],1377670582,None,None,[Q3246315],None,None,Q3196830,None,item,None
36,Rahul Gandhi,Q10218,84,None,[+1970-06-19T00:00:00Z],[Q668],[Q6581097],1348295449,None,None,[Q82955],[Q10225],None,Q10218,[Q63988877],item,[Q9089]
38,Mitch McConnell,Q355522,82,"[Addison Mitchell McConnell, Jr., Addison Mitc...",[+1942-02-20T00:00:00Z],[Q30],[Q6581097],1392727294,None,M000355,"[Q82955, Q40348, Q16533, Q1450482, Q211236]",[Q29468],None,Q355522,None,item,[Q1351880]
39,Pep Guardiola,Q164038,81,"[Josep Guardiola, Josep Guardiola i Sala, Jose...",[+1971-01-18T00:00:00Z],[Q29],[Q6581097],1388621526,None,None,"[Q937857, Q628099]",None,None,Q164038,None,item,None
40,Nick Saban,Q70894,81,"[Nicholas Lou Saban, Saban, Nick]",[+1951-10-31T00:00:00Z],[Q30],[Q6581097],1370052814,None,None,[Q19204627],None,None,Q70894,None,item,None
41,Rajnath Singh,Q3506475,80,"[Rajnath, Rajnath Dev Singh]",[+1951-07-10T00:00:00Z],[Q668],[Q6581097],1382582279,None,None,"[Q82955, Q169470]","[Q10230, Q3245961, Q2352638]",None,Q3506475,[Q63988874],item,[Q9089]
42,James Comey,Q167607,79,"[Jim Comey, James Brien Comey, Jim Brien Comey...",[+1960-12-14T00:00:00Z],[Q30],[Q6581097],1393410268,[Q170826],None,"[Q40348, Q1622272, Q82955]",[Q29468],None,Q167607,None,item,None
43,Clint Hurdle,Q2979333,78,"[Clinton Merrick Hurdle, Clinton Merrick ""Clin...",[+1957-07-30T00:00:00Z],[Q30],[Q6581097],1378097300,None,None,[Q10871364],None,None,Q2979333,None,item,None
44,Manuel Pellegrini,Q296036,78,[Manuel Luis Pellegrini Ripamonti],[+1953-09-16T00:00:00Z],[Q298],[Q6581097],1387936058,None,None,"[Q937857, Q628099]",None,None,Q296036,None,item,None
47,Gary Kubiak,Q3758515,74,[Gary Wayne Kubiak],[+1961-08-15T00:00:00Z],[Q30],[Q6581097],1377715198,None,None,"[Q19204627, Q3246315]",None,None,Q3758515,None,item,None
45,Paul Molitor,Q1972377,74,[Paul Leo Molitor],[+1956-08-22T00:00:00Z],[Q30],[Q6581097],1260182616,None,None,"[Q10871364, Q1186921]",None,None,Q1972377,None,item,None
46,Mauricio Pochettino,Q313000,74,"[Mauricio Roberto Pochettino Trassero, Maricar...",[+1972-03-02T00:00:00Z],"[Q414, Q29]",[Q6581097],1365925966,None,None,"[Q937857, Q628099]",None,None,Q313000,None,item,None
48,John Gibbons,Q19953474,73,None,[+1949-00-00T00:00:00Z],[Q145],[Q6581097],1392952032,None,None,[Q1281618],None,None,Q19953474,None,item,None
49,Harry Reid,Q19650494,73,None,[+1992-06-22T00:00:00Z],[Q145],[Q6581097],1392944054,None,None,"[Q33999, Q10798782]",None,None,Q19650494,None,item,None

#### Representativity of the data

In [91]:
#Check the repartition of the data according several criterias 

#Plot an histogram of ages of speakers by number of quotations
df_merged['nationality'].apply(lambda x:x[0])
country = df_merged.groupby('nationality')['count'] 
country.head(20)

TypeError: 'NoneType' object is not subscriptable

#Count how many speakers has no metadata


print('There are {} speakers'.format(len(df_merged)))
print('{} speakers that have not metadata'.format(len(df_no_metadata)))

print('There is {} % of speakers that has no metadata'.format(100*len(df_no_metadata)/len(df_merged)))
print(df_no_metadata.sample(50))

## Aditionnal metadata from Wikidata

Script to retrieve metedata from Quotebank entries :

'''
Execute this script as: 
python query_wikidata_dump.py --input <path-to-wikidata-json-dump> --output <path-to-output-json-file>
'''

import json
import sys
from tqdm import tqdm
from argparse import ArgumentParser
import gzip

parser = ArgumentParser()
parser.add_argument("--input", required=True)
parser.add_argument("--output", required=True)
args = parser.parse_args()

# Usage:


def main():
    # Do not enforce encoding here since the input encoding is correct
    with open(args.output, "w") as output_file:
        with gzip.open(args.input, 'rb') as s_file:
            for instance in s_file:
                instance = instance.decode('utf-8')
                instance = instance[:-2]
                if len(instance)==0:
                    continue
                s = json.loads(instance.strip("\n"))

                if s.get("labels", {}).get("en") is not None:
                    s["label"] = s["labels"]["en"]["value"]
                if s.get("labels") is not None:
                    del s["labels"]
                else:
                    continue

                # Occupation
                if len(s.get("claims", {}).get("P106", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P106"]:
                        # id: "Q123", "numeric-id": 123
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["occupation"] = tmp

                # Gender
                if len(s.get("claims", {}).get("P21", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P21"]:
                        # id: "Q123", "numeric-id": 123
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["gender"] = tmp

                # Country of citizenship
                if len(s.get("claims", {}).get("P27", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P27"]:
                        # id: "Q123", "numeric-id": 123
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["nationality"] = tmp

                # Position Held
                if len(s.get("claims", {}).get("P39", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P39"]:
                        # id: "Q123", "numeric-id": 123
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["positions_held"] = tmp

                # Date of Birth
                if len(s.get("claims", {}).get("P569", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P569"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("time")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["time"])
                    if len(tmp) > 0:
                        s["date_of_birth"] = tmp

                # Academic Degree
                if len(s.get("claims", {}).get("P512", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P512"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["academic_degree"] = tmp

                # Member of Political Party
                if len(s.get("claims", {}).get("P102", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P102"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["party"] = tmp

                # Candidacy in election
                if len(s.get("claims", {}).get("P3602", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P3602"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["candidacy"] = tmp

                # US Congress Bio ID
                # Get more information on the politicians based on the ID here: https://bioguide.congress.gov
                if len(s.get("claims", {}).get("P1157", [])) > 0:
                    tmp = None
                    for v in s["claims"]["P1157"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value")
                            is not None
                        ):
                            tmp = v["mainsnak"]["datavalue"]["value"]
                            break
                    if tmp is not None:
                        s["US_congress_bio_ID"] = tmp

                # Ethnic Group
                if len(s.get("claims", {}).get("P172", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P172"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["ethnic_group"] = tmp

                # Religion
                if len(s.get("claims", {}).get("P140", [])) > 0:
                    tmp = []
                    for v in s["claims"]["P140"]:
                        if (
                            v["mainsnak"].get("datavalue", {}).get("value", {}).get("id")
                            is not None
                        ):
                            tmp.append(v["mainsnak"]["datavalue"]["value"]["id"])
                    if len(tmp) > 0:
                        s["religion"] = tmp

                # Aliases. Removing leftovers and unnecessary attributes
                if len(s.get("aliases", {}).get("en", [])) > 0:
                    s["aliases"] = [v["value"] for v in s["aliases"]["en"]]
                elif s.get("aliases") is not None:
                    del s["aliases"]
                if s.get("descriptions") is not None:
                    del s["descriptions"]
                if s.get("sitelinks") is not None:
                    del s["sitelinks"]
                if s.get("claims") is not None:
                    del s["claims"]

                output_file.write(json.dumps(s, ensure_ascii=False) + "\n")

if __name__ == "__main__":
    main()