## Quotes segmentation/classification

In this notebook, we treat each quote of the corpus and assign them a score, or a binary variable determining if the quote is formal or informal according the dictionnary of informal formulation and slang vocabulary

In [9]:
#importing the required modules
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [10]:
# Small adjustments to default style of plots, making sure it's readable and colorblind-friendly everywhere
plt.style.use('seaborn-colorblind')
plt.rcParams.update({'font.size' : 12.5,
                     'figure.figsize':(10,7)})

In [11]:
%%time
#copy the path of the sample quotes: (to big to put in the git)
#ALEX: 'C:/Users/alexb/Documents/Ecole/EPFL/MasterII/ADA/'
#JULES: ...
#MARIN: ...
#NICO: ...


path_2_data = 'C:/Users/alexb/Documents/Ecole/EPFL/MasterII/ADA/'


#import the dataset sample
raw_data = pd.read_json(path_2_data + 'Sample_cleaned_1Mio.json.bz2',compression="bz2",lines=True)

raw_data.describe()

Wall time: 39.7 s

,numOccurrences,p1,p2,delta_p,year
count,668534.00000,668534.000000,668534.000000,668534.000000,668534.000000
mean,3.55898,0.818245,0.161096,0.657149,2017.536327
std,22.64603,0.095738,0.081709,0.173361,1.770882
min,1.00000,0.500100,0.008600,0.300000,2015.000000
25%,1.00000,0.747400,0.093400,0.521900,2016.000000
50%,1.00000,0.830100,0.152600,0.674900,2018.000000
75%,2.00000,0.897300,0.221900,0.802200,2019.000000
max,12086.00000,0.990800,0.350000,0.982100,2020.000000

In [45]:
search_list = ['cat','dog','ok','fine','name','simple','time','money','had']

In [46]:
test_sample = raw_data[0:100]

In [47]:
test_sample.sample()

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase,p1,p2,delta_p,year
11,2015-10-26-037662,"I think with the unit here, I just try to get ...",Ryan Spooner,[Q3453859],2015-10-26 19:13:34,1,"[[Ryan Spooner, 0.8507], [None, 0.1493]]",[http://bigbadblog.weei.com/sports/boston/hock...,E,0.8507,0.1493,0.7014,2015

In [48]:
def get_word(my_string):
    for word in search_list:
         if word.lower() in my_string.lower():
            return 1
    return None

In [49]:
test_sample["informal"]= test_sample["quotation"].apply(get_word)

C:\Users\alexb\AppData\Local\Temp/ipykernel_17144/4177833569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_sample["informal"]= test_sample["quotation"].apply(get_word)

In [50]:
test_sample.sample()

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase,p1,p2,delta_p,year,informal
12,2015-08-05-033110,I considered myself a feminist before it was c...,Demi Lovato,[Q41173],2015-08-05 18:06:56,3,"[[Demi Lovato, 0.7906], [None, 0.1985], [Taylo...",[http://fuse.tv/videos/2015/08/demi-lovato-sin...,E,0.7906,0.1985,0.5921,2015,NaN

In [51]:
test_sample.loc[34].quotation

'France playing can be amazing at times and for periods of the second half against us they came at us and applied real pressure,'

In [55]:
df = test_sample
df['informal'] = test_sample['informal'].fillna(0)
df['informal'] = df['informal'].astype(int)

C:\Users\alexb\AppData\Local\Temp/ipykernel_17144/1292829795.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['informal'] = test_sample['informal'].fillna(0)
C:\Users\alexb\AppData\Local\Temp/ipykernel_17144/1292829795.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['informal'] = df['informal'].astype(int)

In [58]:
df.informal.head(100)

0     0
1     0
2     1
3     0
4     1
     ..
95    0
96    0
97    1
98    1
99    1
Name: informal, Length: 100, dtype: int32