## This script aims to remove words of the urban dictionary that also exist in a reference dictionary (i.e. that would be valid in a scrabble game)

### Needed dependancies

In [44]:
import pandas as pd
import PyDictionary
from tqdm import tqdm, tqdm_notebook
tqdm_notebook().pandas()

/var/folders/ll/9ks4sslj4hj9kg36pxlnc3xc0000gn/T/ipykernel_56256/3758648336.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  tqdm_notebook().pandas()

0it [00:00, ?it/s]

In [45]:
dictionary= PyDictionary.PyDictionary()

### Function to test if words are valid (returns boolean)

In [46]:
def scrabble_valid(word):
    meaning= dictionary.meaning(word)
    if meaning:
        valid= True
    else:
        valid= False
    return valid

### Reading slang dictionary

In [90]:
slang= pd.read_pickle("./Final_Dictionary.pkl")
slang.head()

        word
0      Janky
1   slumpin'
2   yayeeyay
3  hard-core
4     brutal

Taking a sample from the dictionary. do not run this cell to perform task on the whole dictionary

In [84]:
slang= slang.head(20)

### Applying validity function to the dictionary

In [85]:
#%%capture
slang["scrabble_valid"]= slang["word"].progress_apply(lambda x : scrabble_valid(x))

  0%|          | 0/20 [00:00<?, ?it/s]

Error: The Following Error occured: list index out of range
Error: The Following Error occured: list index out of range
Error: The Following Error occured: list index out of range
Error: The Following Error occured: list index out of range
Error: The Following Error occured: list index out of range
Error: The Following Error occured: list index out of range
Error: The Following Error occured: list index out of range
Error: A Term must be only a single word
Error: The Following Error occured: list index out of range
Error: The Following Error occured: list index out of range
Error: The Following Error occured: list index out of range
Error: A Term must be only a single word
Error: A Term must be only a single word
Error: A Term must be only a single word

### Visualising results

In [86]:
slang["scrabble_valid"].value_counts()

False    14
True      6
Name: scrabble_valid, dtype: int64

### Removing valid entries

In [87]:
reduced_slang= slang["word"][slang["scrabble_valid"]== False].reset_index()

In [89]:
reduced_slang.head(20)

    index        word
0       0       Janky
1       1    slumpin'
2       2    yayeeyay
3       5      ho-bag
4       7        hork
5       8       hecka
6       9       hella
7      10  wet wagons
8      11       twomp
9      12      ducket
10     14      A-hole
11     15  Ass Kisser
12     18    Dry hump
13     19     No Shit

### Saving the new dictionary into a dataframe

In [ ]:
del reduced_slang['index']
reduced_slang.to_pickle("./Reduced_Final_Dictionary.pkl")