In [2]:
import pandas as pd
import PyDictionary
from tqdm import tqdm, tqdm_notebook
tqdm_notebook().pandas()

C:\Users\Nicola\AppData\Local\Temp/ipykernel_19556/3758648336.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  tqdm_notebook().pandas()

0it [00:00, ?it/s]

In [3]:
dictionary= PyDictionary.PyDictionary()

In [4]:
def scrabble_valid(word):
    meaning= dictionary.meaning(word)
    if meaning:
        valid= True
    else:
        valid= False
    return valid

In [7]:
dico= pd.read_pickle("./new_urban_dictionary.pkl")
dico.head()

,UDid,word,example,upvotes,downvotes
0,7,Janky,Your mother cooks janky collard greens.,310,266
1,8,slumpin',slumpin' beats and phat tracks as we spin da w...,19,39
2,9,yayeeyay,"""We be dubbin! And we's gonna bounce to play ...",23,28
3,12,hard-core,"Dood, that girl's pants are too hard-core for us.",167,96
4,13,brutal,"Man, this morning's calisthenics were brutal.",12,45

In [8]:
#select words based on votes. in this case, we only select the n most upvoted words 
n= 1000
dico= dico.sort_values(by='upvotes', ascending=False)[:n]
dico

,UDid,word,example,upvotes,downvotes
5405,14028,Pussy,,81480,29669
17100,41272,orgasm,,54865,12960
5653,15307,Chode,My boyfriend wanted a hand-job but i couldn't ...,36943,21894
2321,5814,cunt,She has the preetiest cunt :-)\r\nI want to fu...,33303,21651
515,915,cum,"I just got some spam inviting me to ""cum here....",31834,14625
...,...,...,...,...,...
15991,38570,Piss ant,"Get out of my way, you little piss ant.",587,169
3115,8026,beat off,Been beatin' off like a madman lately.,587,117
1378,2702,mummy,i love u mummy,585,228
1097,1977,taint,"Melissa shaves her ""taint"" and it is quite lov...",584,434
5371,13939,salad tosser,Eric is a salad tosser!,584,148

In [12]:
%%capture
dico["scrabble_valid"]= dico["word"].progress_apply(lambda x : scrabble_valid(x))

In [13]:
dico["scrabble_valid"].value_counts()

False    576
True     424
Name: scrabble_valid, dtype: int64