In [1]:
#packages
#to install in our environment : conda install -c conda-forge ipywidgets jupyter nbextension enable --py widgetsnbextension
import pandas as pd
from tqdm import tqdm, tqdm_notebook
tqdm_notebook().pandas()

C:\Users\Nicola\AppData\Local\Temp/ipykernel_9580/446153002.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  tqdm_notebook().pandas()

0it [00:00, ?it/s]

In [2]:
#function to check if strin is contained and update dico
def isinside1(test_string,test_list):
    global dico
    res = [ele for ele in test_list if(ele in test_string)]
    #print(res)
    if res:
        for ele in res:
            i= test_list.index(ele)
            dico["occurences"].loc[i]= dico["occurences"].loc[i]+1
        return 1
    return 0

def isinside2(test_string,test_list):
    if any(ext in test_string for ext in test_list):
        return 1
    return 0

In [51]:
#get dico
dico= pd.read_pickle("./new_urban_dictionary.pkl")
dico["occurences"]=0
dico.head()

,UDid,word,example,upvotes,downvotes,occurences
0,7,Janky,Your mother cooks janky collard greens.,310,266,0
1,8,slumpin',slumpin' beats and phat tracks as we spin da w...,19,39,0
2,9,yayeeyay,"""We be dubbin! And we's gonna bounce to play ...",23,28,0
3,12,hard-core,"Dood, that girl's pants are too hard-core for us.",167,96,0
4,13,brutal,"Man, this morning's calisthenics were brutal.",12,45,0

In [52]:
#check strings lenths and describe dico
dico["strlen"]= dico["word"].apply(lambda x : len(x))
dico.describe()

               UDid       upvotes     downvotes  occurences        strlen
count  16101.000000  16101.000000  16101.000000     16101.0  16101.000000
mean   24104.422210    203.544873    101.174958         0.0      8.315695
std    14168.359776   1240.494452    518.662357         0.0      4.530259
min        7.000000      0.000000      0.000000         0.0      1.000000
25%    11987.000000      6.000000      8.000000         0.0      5.000000
50%    24048.000000     18.000000     23.000000         0.0      7.000000
75%    36149.000000     74.000000     64.000000         0.0     10.000000
max    49993.000000  81480.000000  29669.000000         0.0    117.000000

In [54]:
#make list out of dico
dicolist= dico["word"].unique().tolist()
dicolist

['Pussy',
 'orgasm',
 'Chode',
 'cunt',
 'cum',
 "fo' shizzle my nizzle",
 'stfu',
 'fap',
 'Rusty Trombone',
 'Procrasturbating',
 'pussy',
 'bukkake',
 'productive procrastination',
 'butter face',
 'asshat',
 'virgin',
 'Masturbation',
 'rap',
 'Spooning',
 'gay buffer',
 'Whore',
 'pink sock',
 'camel toe',
 'hoe',
 'Fugly',
 'punk',
 'DTF',
 'shawty',
 'You',
 'salty',
 'docking',
 'ghetto',
 'shocker',
 'weed',
 'eiffel tower',
 'FFS',
 'porn storm',
 'deez nuts',
 'Butterface',
 'PETA',
 'metallica',
 'boobies',
 'Word up, kids?',
 'Boobs',
 'pimp',
 'wtf',
 'ding dong ditch',
 'boner',
 'redneck',
 'blunt',
 'baller',
 'masturbation',
 'crack',
 'lawl',
 'KKK',
 'blink 182',
 'Jack',
 'automagically',
 'w00t',
 'shoot the shit',
 'Glomp',
 'jake',
 'masturbate',
 'nfi',
 'IMO',
 'porn',
 'nirvana',
 'whore',
 'bia',
 'snarky',
 'Second Base',
 'xxx',
 'Happy ending',
 'nonce',
 'SHIT LOCKS',
 'dp',
 'emo',
 'racist',
 'cooter',
 'spinner',
 'skeezy',
 'smegma',
 'fly',
 'pikachu',
 'wumbo',
 'Randy',
 'afk',
 'No u',
 'Gunt',
 'homie',
 'iirc',
 'Banana',
 'snatch',
 'ttyl',
 'white people',
 'shizzle',
 'babe',
 'anal',
 'fluffer',
 'rack',
 'wigger',
 'college',
 'Assclown',
 'hun',
 'smd',
 'Bob',
 'Loser',
 'booty',
 'Hood Rat',
 'Pink Floyd',
 'btw',
 'blow job',
 'Dubya',
 'vurp',
 'wet',
 'motherfucker',
 'sublime',
 'bear',
 'spange',
 'Twink',
 'spit roast',
 'bird',
 'TMI',
 'microsoft',
 'mom',
 'mangina',
 'nvm',
 'peg',
 'nut huggers',
 'poser',
 'First Base',
 'indian',
 'clitoris',
 'wop',
 'gaydar',
 'cameltoe',
 'whiskey dick',
 'heroin',
 'lit',
 'Ecstasy',
 '42',
 'joint',
 'yayo',
 'fucking',
 'BFF',
 'head',
 'sexile',
 'lmao',
 'snitch',
 'mofo',
 "I'd Hit it",
 'BS',
 'k',
 'POPO',
 'grill',
 'Third Base',
 'fugly',
 'mob',
 'vato',
 'fuck buddy',
 'sugar daddy',
 'Nintendo',
 'FYI',
 'rugby',
 'np',
 'nookie',
 'bellend',
 'frontin',
 'gooch',
 'womyn',
 'Peace',
 'gank',
 'cream',
 'aka',
 'IMHO',
 'reggie',
 'cosplay',
 'Tits',
 'DL',
 'dime',
 'disco nap',
 'player',
 'high maintenance',
 'bitch slap',
 'doobie',
 'narc',
 'Vegan',
 'megadeth',
 'Peeps',
 'pedo',
 'raw',
 'chief',
 'dylan',
 'goatse',
 'tease',
 '^_^',
 'desu',
 'dayum',
 'idiot',
 'homophobe',
 'nsfw',
 'toke',
 'pillow talk',
 'holy shit',
 'ska',
 'SOL',
 'std',
 'beef curtains',
 'htf',
 'Finland',
 'Bitch',
 'cuckold',
 'front',
 'SO',
 'Tony Blair',
 'teabagging',
 'wet dream',
 'My nigga',
 'Hip Hop',
 'CPT',
 'terrorist',
 'Blaze',
 'raw dog',
 '187',
 "ain't",
 'job',
 'Tea Bag',
 'stuck up',
 'butters',
 'g-string',
 'sket',
 'laid',
 'prostitute',
 'Incest',
 'break the seal',
 'lesbian',
 'bra',
 'tossing salad',
 'dunno',
 "y'all",
 'Flossy',
 'chica',
 'idk',
 'glory hole',
 'Muppet',
 'filipino',
 'lap dance',
 'buttsex',
 'LTR',
 'orgy',
 'scab',
 'mids',
 'Nug',
 'Mexican Avalanche',
 'nerf',
 'aye',
 'swoon',
 'cleavland steamer',
 'jailbait',
 'o.g.',
 'mate',
 'sexual harassment',
 'fuct',
 'MoFo',
 'afaik',
 'Put me in coach!',
 'Dump',
 'cut a rug',
 'Dime Piece',
 'spade',
 'Computer',
 'po po',
 'gams',
 'Rape',
 'w/e',
 'oral sex',
 'diss',
 'faggotry',
 'toss salad',
 'strap',
 'rimming',
 'RIAA',
 'trifling',
 'beat',
 'fox',
 'Chubby',
 'homeboy',
 'chick',
 'fronting',
 'baked',
 'THO',
 'g spot',
 'root',
 'durf',
 'it',
 'CRS',
 'BYOB',
 'flow',
 'hard on',
 'bust-a-nut',
 'Going Commando',
 'Dutch Oven',
 'bone',
 'macking',
 'cray cray',
 'parents',
 'hood',
 'spick',
 'ButtHurt',
 '...',
 'gobshite',
 'double penetration',
 'grass',
 'grope',
 'dirty',
 'scrap',
 'reverse cowgirl',
 'Pink',
 'hung like a horse',
 'Stacked',
 'courtesy flush',
 '7 minutes in heaven',
 'hit',
 'ganja',
 'do the damn thang',
 'Deep Thrust',
 'dro',
 'chill',
 'Booyah',
 'Piper',
 'sketch',
 'bump',
 'Condom',
 'sammich',
 'cheese',
 'clap',
 'jack off',
 'oral',
 'horney',
 'spank',
 'busted',
 'fuckable',
 'FWB',
 'ripped',
 'fudge',
 'grower not a shower',
 'Cats',
 'Balls',
 'succubus',
 'Opeth',
 'recursion',
 'FUD',
 'Muff Diving',
 'giving head',
 'Pearl Necklace',
 'the rock',
 'Hater',
 'Muah',
 'butterface',
 'cold',
 'cock tease',
 'bimmer',
 'shut up',
 'ohio',
 'tbh',
 'omfg',
 'shook',
 'Swoll',
 'Gays',
 'awww',
 'S',
 'hydro',
 'gleek',
 'daisy chain',
 'sissy',
 'blow',
 'jism',
 'Diego',
 '411',
 'bff',
 'ttfn',
 'bf',
 'scrotum',
 'legit',
 'ball',
 'Railed',
 'plonker',
 'fuckhole',
 'grody',
 '143',
 'Hood Rich',
 'chop',
 'nymphomaniac',
 'dammit',
 'Bbl',
 'pinay',
 'snail trail',
 'fellatio',
 'DAMAGED GOODS',
 'FWIW',
 'pinoy',
 'scallywag',
 'diane',
 'bestiality',
 'box',
 'ghetto booty',
 'black sabbath',
 'FUBAR',
 'sack',
 'bucking bronco',
 'newgrounds',
 '50 Cent',
 'Dry humping',
 'bull dyke',
 'Cock Sucker',
 'S.O.',
 "poppin' tags",
 'Corey',
 'water sports',
 'gangster',
 'camel-toe',
 'bk',
 'quarter',
 'man crush',
 'grind',
 'lemming',
 'paizuri',
 'cam',
 'wb',
 'hubby',
 'dog',
 'mota',
 'balls',
 'reach around',
 'mint',
 'G',
 'honey',
 'NOFX',
 'Roll',
 'Nut',
 'lurk',
 'cum bucket',
 'facial',
 'ugly duckling syndrome',
 'hotboxing',
 'SCREW YOU',
 'l33t',
 'puma',
 'book',
 'mack',
 'come',
 'blue balls',
 'sodomy',
 'Conan',
 'pron',
 'Spanglish',
 'mcdonalds',
 'T_T',
 'hymen',
 'boonies',
 ';)',
 'coconut',
 'wtg',
 'mouse off',
 'mushroom stamp',
 'X',
 'skiing',
 'awesome',
 'Lena',
 'ABC',
 'Sucker',
 'Kek',
 'fag',
 'tap that ass',
 'Cowbell',
 ':P',
 'anus',
 'slit',
 'Russian Roulette',
 'blow me',
 'tripping',
 'LDR',
 'fad',
 'SHIV',
 'grip',
 'strap on',
 'fgt',
 'dickwad',
 'turd burglar',
 'ATL',
 'cack',
 'GQ',
 'zip',
 'rotfl',
 'FRUIT',
 'Frodo',
 'TLDR',
 'chocha',
 'bork',
 'Honda',
 'five-o',
 'vertical smile',
 'assclown',
 'Cheeba',
 'Olsen Twins',
 'fuck off',
 'squirter',
 'lbc',
 'cush',
 'rage',
 'scouser',
 'Brown',
 'limey',
 'hoser',
 'rusty trumpet',
 '68',
 'DD',
 'kids',
 'g string',
 'leo',
 'Anarchy',
 'chunder',
 'swirly',
 'heffa',
 'fucked up',
 'porno',
 'Morning wood',
 'honey pot',
 'Fuckwit',
 'Chinese Food',
 'snapper',
 'ass clown',
 'spiffy',
 'Hell',
 'philly',
 'bonkers',
 'GTFO',
 'plow',
 'wifebeater',
 'secks',
 'tag',
 'Dutch oven',
 'Brains',
 'fapping',
 'cumshot',
 'yoked',
 'rider',
 'Bell End',
 'orgasmic',
 'fresh',
 'locs',
 'Gutta',
 'fuck you',
 'self-first',
 'cheddar',
 'walrus',
 'todger',
 'Fuck yeah',
 'man in the boat',
 'bunk',
 '8 ball',
 'jk',
 '21',
 'moxy',
 'Suv',
 'In-N-Out',
 'ralph',
 'fubu',
 'go down on',
 'Poonani',
 'cornholio',
 'beastality',
 'kirk',
 'nimrod',
 'Feet',
 'oy vey',
 'wonky',
 'jail bait',
 'tenacious d',
 'SOS',
 'clean',
 'quan',
 'sexual',
 'computer science',
 'mario',
 'kaya',
 'nip slip',
 'Mota',
 'hotbox',
 'do you',
 'Boss',
 'double d',
 'sherm',
 'Yenta',
 'fark',
 'Fack',
 'dummy',
 'def',
 'rip',
 'gusset typist',
 'Russians',
 'skanky',
 'Biddies',
 '5th base',
 'pinch a loaf',
 'word up',
 'dime bag',
 'cocktease',
 'Meep',
 'Mustache Ride',
 'Smegma',
 'gj',
 'titties',
 'cop out',
 'dry spell',
 'wet back',
 'Queer Bait',
 'perv',
 'swanky',
 'ftp',
 'hon',
 'Trojan',
 'pantsed',
 'banjo string',
 'pink taco',
 'Snoop',
 'slope',
 'postal',
 'silly goose',
 'tsk',
 'wimp',
 'family',
 'bling',
 'fruit',
 'bbs',
 'sticky',
 '313',
 'euphemism',
 'Sancho',
 'clusterfuck',
 'addy',
 'bearded clam',
 'NORCAL',
 'killer',
 'k hole',
 'batshit',
 'Ginormous',
 'pissant',
 'drag',
 'grub',
 'TGIF',
 'lesbo',
 'Mushroom Stamp',
 'sexually frustrated',
 'dibs',
 'buttfuck',
 'carpet muncher',
 'jonesing',
 'cool beans',
 'swede',
 'zone',
 'Nuzzle',
 'pubes',
 'toasted',
 'game',
 'lightweight',
 'pitching a tent',
 'HTH',
 'wicked',
 'jiz',
 'bogus',
 "T'aint",
 'catch you on the flip side',
 'h town',
 'twork',
 'bollywood',
 'camp',
 'Reppin',
 'nm',
 'Balls Deep',
 'fisting',
 'Pigeon',
 'vanilla',
 'totes',
 'gangbanger',
 'annoying',
 'moobs',
 'pearl',
 'ROTFLMAO',
 'vegetable',
 'Juju',
 'baps',
 ':(',
 'dipshit',
 'bat wings',
 'hardon',
 'zen',
 'ima',
 'rube',
 'butt fuck',
 'size queen',
 'ni',
 'shanked',
 'pimp juice',
 '^^',
 'Toxic',
 'totty',
 'shakira',
 'felch',
 'Anarchist',
 'uncut',
 'clique',
 'caboose',
 'frag',
 'kittens',
 'tomato',
 'fivehead',
 'shitter',
 'nincompoop',
 'weasel',
 'woop woop',
 'chillin',
 'manager',
 'duh',
 'eye candy',
 'la',
 'Henny',
 'munted',
 'nizzle',
 'dick slap',
 'balloon knot',
 'twisted',
 'hot damn',
 'joshing',
 'get laid',
 'loot',
 'aqua teen hunger force',
 'toe jam',
 'Poontang',
 'Man Up',
 'boondocks',
 'lifted',
 'fyad',
 'ROFL',
 'shits and giggles',
 'wack',
 'lesbians',
 'lubricant',
 'esse',
 'rents',
 'frog',
 'Frig',
 'o.O',
 'KIT',
 'rico suave',
 'Pfft',
 'fag hag',
 '69 position',
 'bitch make me a sandwich',
 'weak',
 'axe',
 'raped',
 'hot monkey sex',
 'scratch',
 '666',
 'diesel',
 'Weiner',
 'whigger',
 'hf',
 'horse cock',
 'Morning head',
 'mug',
 'r kelly',
 'KFC',
 'Credit Card',
 'one eyed pirate',
 'ttt',
 'afro',
 'corny',
 'drop trou',
 'spanish fly',
 'bowl',
 'fuckbuddy',
 'blown',
 'prison bitch',
 'Harry Pothead',
 'angel dust',
 'Chillax',
 'numpty',
 'big ups',
 'pooch',
 'hot beef injection',
 'Snoopy',
 'rere',
 'bumblefuck',
 'duckets',
 'pee',
 '4',
 'pound',
 'dough',
 'panocha',
 'gaysian',
 'Booze',
 'wife',
 'bfg',
 'cyber sex',
 'creampie',
 'onion',
 'Mack Daddy',
 'sif',
 'cockslap',
 'clown',
 'queaf',
 'nob',
 'oh shit bar',
 'nipples',
 'toss the salad',
 'bammer',
 'milking',
 'politics',
 'wall',
 'piracy',
 'slug',
 'mang',
 'Darn',
 'baby',
 'tweaking',
 'yep',
 'no worries',
 'chomo',
 'smash',
 'cabbage',
 'Fucking the dog',
 'fin',
 'nooner',
 'cum shot',
 'NPC',
 'robbing the cradle',
 'pistol whip',
 'hesher',
 'PTFO',
 'defenestrate',
 'puppies',
 'Member',
 'snowflake',
 'elbow',
 'chunk the deuce',
 'Bri',
 'rass',
 'D.A.R.E.',
 'Cocksucker',
 'set',
 'whores',
 'Light in the loafers',
 'beating around the bush',
 'buggery',
 'bbbj',
 'check',
 'Mother Fucker',
 'I feel you',
 'Crescent Fresh',
 'Kid Rock',
 'SMIB',
 'bugaboo',
 'penis art',
 'Pearl Jam',
 'pussy juice',
 'Navid',
 'YHBT',
 'dirt',
 'Tea-Bag',
 'cock gobbler',
 'boobs',
 'dune coon',
 'cockpit',
 ':D',
 'titfuck',
 'Asian persuasion',
 'reefer',
 'white russian',
 'stoge',
 'True',
 'Fuck Stick',
 'fufu',
 'gg no re',
 'felcher',
 'Feltcher',
 'nose candy',
 'beej',
 'corn hole',
 'spongebob squarepants',
 'stash',
 'busking',
 'bunt',
 'No Diggity',
 'Sea',
 'Verbal Diarrhea',
 'faghag',
 'government',
 'RTS',
 'truffle shuffle',
 'tea bag',
 'dicked down',
 'bees knees',
 'cock block',
 'gf',
 'gusher',
 'pork sword',
 'slangin',
 'chop it up',
 'Gorillaz',
 'chillaxin',
 'weirdo',
 'Beaner',
 'toe',
 'Coochie',
 'dingaling',
 'HOME WRECKER.',
 'Marching Band',
 'pour one for my homies',
 'sapiosexuality',
 'book smart',
 'liek',
 'chuffed',
 'kurt',
 'Poo',
 'jawn',
 'scrilla',
 'homeslice',
 'Whiskey Tango',
 'mardy',
 'camel jockey',
 'DROP TOP',
 'nathen',
 'brill',
 'Asian Fever',
 'Beastie Boys',
 'na mean',
 'GOT YOUR BACK',
 'pum pum',
 'BFD',
 'brother',
 'Snowball',
 'funky',
 'Bukakke',
 'Pillock',
 'precum',
 'beer shits',
 'Freegan',
 'mean muggin',
 'U2',
 'rock',
 'yahoo',
 'elite',
 'pop music',
 'Clam Bake',
 'pen',
 'Mango',
 'nards',
 'dimwit',
 'camper',
 'missionary position',
 'Baby gravy',
 'Jabroni',
 'jigga',
 'outta',
 'Frienemy',
 'algebra',
 'robotrip',
 'token black guy',
 'tweak',
 'pusher',
 'Alize',
 'NWS',
 'Underground',
 'darkies',
 'weener',
 'mature',
 'J',
 'prego',
 'Pie Hole',
 'Young',
 '211',
 'feeling up',
 'muffdiver',
 'jive',
 'harlem shake',
 'rat',
 'high beams',
 'skullet',
 'right on',
 'tough',
 'sick',
 'arvo',
 'for real',
 'Piss ant',
 'beat off',
 'mummy',
 'taint',
 'salad tosser']

In [25]:
#importing dataset sample

#Jules : 
#path=r'/Users/jules/ADA_project_data/Sample_cleaned_1Mio.json.bz2'

#Nico: '/Users/nicolasantacroce/Desktop/Desktop/EPFL/EPFL MA1/Applied Data Analysis/Sample.json.bz2'
df= pd.read_json('C:/Users/Nicola/Desktop/EPFL/MA1/ADA/Sample.json.bz2',compression="bz2",lines=True)

In [49]:
df.head()

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
0,2015-11-11-109291,They'll call me lots of different things. Libe...,Chris Christie,[Q63879],2015-11-11 00:55:12,1,"[[Chris Christie, 0.7395], [Bobby Jindal, 0.15...",[http://thehill.com/blogs/ballot-box/259760-ch...,E
1,2015-11-04-105046,"The choices are not that easy,",Dr. John,"[Q511074, Q54593093]",2015-11-04 18:13:06,2,"[[Dr. John, 0.5531], [None, 0.4469]]",[http://delawareonline.com/story/news/health/2...,E
2,2015-09-11-070666,It's kind of the same way it's been with the R...,Niklas Kronwall,[Q722939],2015-09-11 19:54:00,1,"[[Niklas Kronwall, 0.7119], [None, 0.2067], [H...",[http://redwings.nhl.com/club/news.htm?id=7787...,E
3,2015-01-12-082489,"We're now going back to the frozen tundra, and...",Frances McDormand,[Q204299],2015-01-12 01:40:00,3,"[[Frances McDormand, 0.484], [None, 0.4495], [...",[http://feeds.people.com/~r/people/headlines/~...,E
4,2015-11-09-033345,I had a chuckle: They were showing a video of ...,Kris Draper,[Q948695],2015-11-09 00:57:45,3,"[[Kris Draper, 0.8782], [None, 0.1043], [Serge...",[http://ca.rd.yahoo.com/sports/rss/nfl/SIG=13u...,E

In [50]:
#separating quotes (really long so we try it on the first 10000)
df2= df[:10000]
df2["colloquial"]= df2["quotation"].progress_apply(lambda x : isinside1(x,dicolist))

  0%|          | 0/10000 [00:00<?, ?it/s]

C:\Users\Nicola\anaconda3\envs\adaenv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

KeyError: 4249

In [15]:
df2.describe()

       numOccurrences    colloquial
count    10000.000000  10000.000000
mean         3.260400      0.955600
std         18.155279      0.205992
min          1.000000      0.000000
25%          1.000000      1.000000
50%          1.000000      1.000000
75%          2.000000      1.000000
max       1125.000000      1.000000

In [20]:
#removing words present in more than 0.1% of quotes
tresh= 0.001
dico["occurence_fraction"]= dico["occurences"]/df2["colloquial"].count()
dico.describe()

         occurences        strlen  occurence_fraction
count  16339.000000  16339.000000        16339.000000
mean       3.178652      9.643858            0.000318
std       74.463508      5.264567            0.007446
min        0.000000      1.000000            0.000000
25%        0.000000      6.000000            0.000000
50%        0.000000      9.000000            0.000000
75%        0.000000     12.000000            0.000000
max     6573.000000    143.000000            0.657300

In [21]:
#creating new dictionary without most occuring words
dico2= dico[dico["occurence_fraction"]<tresh]
dicolist2= dico2["word"].unique().tolist()
dico2.describe()

         occurences        strlen  occurence_fraction
count  16142.000000  16142.000000        16142.000000
mean       0.074960      9.715834            0.000007
std        0.545739      5.252921            0.000055
min        0.000000      1.000000            0.000000
25%        0.000000      6.000000            0.000000
50%        0.000000      9.000000            0.000000
75%        0.000000     12.000000            0.000000
max        9.000000    143.000000            0.000900

In [22]:
#re-evaluating quotes with reduced dictionary
df2["colloquial"]= df2["quotation"].progress_apply(lambda x : isinside2(x,dicolist2))

  0%|          | 0/10000 [00:00<?, ?it/s]

/var/folders/ll/9ks4sslj4hj9kg36pxlnc3xc0000gn/T/ipykernel_56249/745375064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["colloquial"]= df2["quotation"].progress_apply(lambda x : isinside2(x,dicolist2))

In [23]:
df2.describe()

       numOccurrences    colloquial
count    10000.000000  10000.000000
mean         3.260400      0.105200
std         18.155279      0.306826
min          1.000000      0.000000
25%          1.000000      0.000000
50%          1.000000      0.000000
75%          2.000000      0.000000
max       1125.000000      1.000000

In [56]:
df_colloquials= df2[df2["colloquial"]==1]
df_colloquials[["quotation"]].sample()["quotation"].tolist()

['It seems to be that every time effective investigators like the ones we work with begin to turn over rocks, they find creepy crawly things,']

In [57]:
dico2.sample(20)

                                word  occurences  strlen  occurence_fraction
11994  Sweet Ass Maria Sally Muzzone           0      29                 0.0
5287                      Dutch Oven           0      10                 0.0
359                          coucher           0       7                 0.0
15428                  scrub up well           0      13                 0.0
8893                       Chiparati           0       9                 0.0
4861                           speen           0       5                 0.0
14413                      kick off            0       9                 0.0
6165                          D-ware           0       6                 0.0
11396                          ashey           0       5                 0.0
10276                    fo' shizzle           0      11                 0.0
9407                           YuCON           0       5                 0.0
12925                    airy-fairy            0      11                 0.0
12546                      Logjammer           0       9                 0.0
14874                    no way Jos!           0      11                 0.0
10244                            TLB           0       3                 0.0
14757                    mug's game            0      11                 0.0
74                        scratchies           0      10                 0.0
10056                       elvasate           0       8                 0.0
7453                          blapse           0       6                 0.0
9261                           torok           0       5                 0.0

In [63]:
dico2[dico2["word"]=="Fuck"]

Empty DataFrame
Columns: [word, occurences, strlen, occurence_fraction]
Index: []