# Exploratory analysis speakers aggregations

In [1]:
#importing the required modules
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Small adjustments to default style of plots, making sure it's readable and colorblind-friendly everywhere
plt.style.use('seaborn-colorblind')
plt.rcParams.update({'font.size' : 12.5,
                     'figure.figsize':(20,7)})

## 1. Import data

### Metadata

Pandas requires pyarrow to read parquet files, which can be installed using conda install pyarrow -c conda-forge.
You can load this file as a pandas dataframe using df = pd.read_parquet(<path_to_file>).

In [6]:
#Define the path for folder containing data
#TO BE MODIFIED ACCORDING HIS OWN FOLER containing data in local
#Jules
path = r'/Users/jules/kDrive/onedrive/Documents_Onedrive/EPFL/MA3/ADA/Project/Dataset/'
df_metadata = pd.read_parquet(path+'speaker_attributes.parquet')
#df_metadata.head()

### Quotations dataset

In [3]:
#Import the dataset sample

#Jules: 
path = r'/Users/jules/kDrive/onedrive/Documents_Onedrive/EPFL/MA3/ADA/Project/Dataset/'

df_sample = pd.read_json(path+'Sample_classified_1Mio_v1.json.bz2',compression = 'bz2',lines = True)

In [5]:
df_sample.sample(100)

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase,p1,p2,delta_p,year,colloquial
361774,2018-08-31-089165,The MoU provides for optimisation of using ene...,Raveesh Kumar,[Q35489166],2018-08-31 10:14:49,6,"[[Raveesh Kumar, 0.9242], [None, 0.0755], [Nar...",[http://dnaindia.com/india/report-bimstec-summ...,E,0.9242,0.0755,0.8487,2018,0
415025,2018-02-20-050562,"I went to help collect sap, and I was just ena...",Tim Burton,"[Q56008, Q7803257]",2018-02-20 06:23:46,2,"[[Tim Burton, 0.7119], [None, 0.2491], [Joe Ev...",[http://www.tribtown.com/2018/02/20/local_syru...,E,0.7119,0.2491,0.4628,2018,0
539647,2019-06-24-039668,"If you see a break between Jeff and Brodie, th...",Mike Francesa,[Q6846901],2019-06-24 12:53:43,1,"[[Mike Francesa, 0.6623], [None, 0.2829], [Mic...",[https://www.nj.com/mets/2019/06/the-mets-have...,E,0.6623,0.2829,0.3794,2019,0
496371,2019-12-12-049803,It's been exploited by undeserving refugee cla...,Peter Kent,"[Q11331756, Q120749, Q20172675, Q3376692, Q411...",2019-12-12 15:00:00,1,"[[Peter Kent, 0.953], [Justin Trudeau, 0.0234]...",[https://www.cbc.ca/news/politics/trump-immigr...,E,0.9530,0.0234,0.9296,2019,0
279306,2017-06-13-018806,Darrell Clarke really enjoys the warm weather ...,Steve Hamer,"[Q25171703, Q3973341]",2017-06-13 11:45:03,1,"[[Steve Hamer, 0.7622], [None, 0.228], [Mickey...",[http://www.bristolpost.co.uk/sport/football/f...,E,0.7622,0.2280,0.5342,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120228,2016-07-11-093818,"This work is particularly important, because c...",Robert Allen,"[Q19606333, Q21289751, Q21289752, Q21289753, Q...",2016-07-11 18:13:33,1,"[[Robert Allen, 0.8407], [None, 0.1593]]",[https://ucrtoday.ucr.edu/38186],E,0.8407,0.1593,0.6814,2016,0
496078,2019-06-05-025406,Having engaged extensively with the Pensions R...,Ian Grabiner,[Q24007473],2019-06-05 08:14:00,2,"[[Ian Grabiner, 0.8847], [None, 0.1027], [Sir ...",[http://www.insidermedia.com/insider/national/...,E,0.8847,0.1027,0.7820,2019,1
314800,2017-02-20-089852,she seems a bit righteous.,Chloe Sims,"[Q5102883, Q5102886]",2017-02-20 18:35:00,2,"[[Chloe Sims, 0.8486], [None, 0.1515]]",[http://www.dailystar.co.uk/showbiz/590030/Ade...,E,0.8486,0.1515,0.6971,2017,0
569090,2020-03-12-070600,"These tests can range anywhere from $88 to $400,",Dale Smith,"[Q28542618, Q29643613, Q38471605, Q5210635, Q5...",2020-03-12 19:43:11,1,"[[Dale Smith, 0.797], [None, 0.203]]",[https://dfw.cbslocal.com/2020/03/12/texas-hem...,E,0.7970,0.2030,0.5940,2020,0
171580,2016-05-11-113971,The state government has failed to supply pota...,Arun Singh,"[Q20888638, Q24005548, Q4802139]",2016-05-11 14:55:54,1,"[[Arun Singh, 0.7649], [None, 0.2242], [Basant...",[http://timesofindia.indiatimes.com/city/bhuba...,E,0.7649,0.2242,0.5407,2016,0

### Lookup table for QIDs

#### Using the provided csv file to link qids with meaningful names

In [169]:
#read the file 

df_lookup = pd.read_csv('wikidata_labels_descriptions_quotebank.csv.bz2',compression = 'bz2',index_col='QID')
#df_lookup.sample(20)

### 2. Merge speakers metadata with quotations

Join quotations data with metadata :

In [171]:
#Create sub-sample
#df_sub = df_sample.sample(int(1*10e3))
df_sub = df_sample.copy()
s1 = len(df_sub)

#For the moment, choose rows which at minimum 1 qid associated
#Remove this row when using the data that have been wrangled
df_sub = df_sub[[len(a)>0 for a in df_sub['qids']]]

s2 = len(df_sub)

print('There is {} % of rows that have no qid associated with (on {} rows)'.format((1-s2/s1)*100,s1))

#Choose the first QID that is associated with (to be improved)
df_sub['qid_unique'] = df_sub['qids'].apply(lambda x: x[0])

There is 0.0 % of rows that have no qid associated with (on 213357 rows)

In [158]:
#Group quotation by speaker

df_grouped=df_sub.groupby('qid_unique') \
['quoteID'] \
.count() \
.reset_index(name='count') \
.sort_values(['count'], ascending=False)

In [173]:
#Merging with metadata

df_merged = df_grouped.merge(df_metadata,how='inner',left_on='qid_unique', right_on='id').sort_values(['count'], ascending=False)

In [175]:
#Replace label column at the first place

# shift column 'Name' to first position
first_column = df_merged.pop('label')
  
# insert column using insert(position,column_name,
# first_column) function
df_merged.insert(0, 'label', first_column)

In [177]:
df_merged.head(20)

,label,qid_unique,count,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,candidacy,type,religion
0,Barack Obama,Q76,1042,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]"
1,Hillary Clinton,Q6294,617,"[Hillary Rodham Clinton, Hillary Rodham, Hilla...",[+1947-10-26T00:00:00Z],[Q30],[Q6581072],1393846565,None,C001041,"[Q82955, Q40348, Q193391, Q36180, Q18814623, Q...","[Q29552, Q29468]","[Q163727, Q1540185]",Q6294,"[Q699872, Q4791768]",item,[Q33203]
2,Francis,Q450675,352,"[Jorge Mario Bergoglio, Francisco, Pope Franci...",[+1936-12-17T00:00:00Z],"[Q237, Q414]",[Q6581097],1396054797,[Q1056744],None,"[Q63173086, Q593644, Q104050302, Q36180, Q1234...",None,[Q1233889],Q450675,None,item,[Q9592]
3,Bernie Sanders,Q359442,309,[Bernard Sanders],[+1941-09-08T00:00:00Z],[Q30],[Q6581097],1392561607,[Q7325],S000033,"[Q82955, Q1930187, Q154549, Q1622272, Q36180, ...","[Q6542163, Q29552, Q327591, Q327591, Q29552]",[Q1765120],Q359442,None,item,[Q9268]
4,John Kerry,Q22316,232,"[John Forbes Kerry, Kerry, John F. Kerry]",[+1943-12-11T00:00:00Z],[Q30],[Q6581097],1393166711,None,K000148,"[Q82955, Q10669499, Q40348, Q193391, Q2095549,...",[Q29552],None,Q22316,[Q464075],item,[Q9592]
5,David Cameron,Q1173911,215,None,[+1933-01-21T00:00:00Z],[Q145],[Q6581097],1392347409,None,None,[Q33999],None,None,Q1173911,None,item,None
6,Marco Rubio,Q324546,195,[Marco Antonio Rubio],[+1971-05-28T00:00:00Z],[Q30],[Q6581097],1393345921,None,R000595,"[Q82955, Q40348]",[Q29468],"[Q1765120, Q1540185]",Q324546,None,item,"[Q1841, Q7361618]"
7,Benjamin Netanyahu,Q43723,172,"[Binyamin Netanyahu, Bibi, Bibi Netanyahu, Ben...",[+1949-10-21T00:00:00Z],[Q801],[Q6581097],1391756559,[Q7325],None,"[Q82955, Q193391, Q372436, Q47064, Q15958642, ...",[Q187009],"[Q787674, Q950900]",Q43723,"[Q2917048, Q2480394, Q2689039]",item,[Q9268]
8,Rodrigo Duterte,Q457786,156,"[Rodrigo Roa Duterte, Rodrigo ""Rody"" Roa Duter...",[+1945-03-28T00:00:00Z],[Q928],[Q6581097],1348817804,[Q1290600],None,[Q82955],[Q7140531],None,Q457786,None,item,None
9,Jeb Bush,Q221997,148,"[John Ellis Bush, Bush, Jeb, John Ellis ""Jeb"" ...",[+1953-02-11T00:00:00Z],"[Q30, Q29]",[Q6581097],1393415091,None,None,"[Q806798, Q82955, Q17487600, Q1413170, Q36180]",[Q29468],[Q1765120],Q221997,None,item,"[Q682443, Q1841]"
10,Louis van Gaal,Q207431,140,[Aloysius Paulus Maria van Gaal],[+1951-08-08T00:00:00Z],[Q29999],[Q6581097],1390309283,None,None,"[Q937857, Q628099]",None,None,Q207431,None,item,None
11,Arun Jaitley,Q3629480,137,None,[+1952-12-28T00:00:00Z],[Q668],[Q6581097],1382428033,None,None,"[Q82955, Q40348, Q17221, Q7621877]",[Q10230],None,Q3629480,[Q63988621],item,[Q9089]
12,Joe Maddon,Q1093629,135,"[Joseph John Maddon, Joseph John Maddon Jr.]",[+1954-02-08T00:00:00Z],[Q30],[Q6581097],1315755360,None,None,"[Q10871364, Q865935, Q1186921]",None,None,Q1093629,None,item,None
13,Vladimir Putin,Q7747,134,"[Vladimir Vladimirovich Putin, Putin, Presiden...",[+1952-10-07T00:00:00Z],"[Q15180, Q159]",[Q6581097],1395274624,[Q49542],None,"[Q82955, Q185351, Q6665249, Q18814623, Q239273...","[Q79854, Q4488786, Q151469]",[Q17744738],Q7747,"[Q19760074, Q488814, Q1505420, Q1348890]",item,"[Q60995, Q3333484]"
14,Will Schuester,Q348577,122,"[Anthony John Abbott, Anthony John ""Tony"" Abbo...",[+1957-11-04T00:00:00Z],"[Q408, Q145]",[Q6581097],1394062431,None,None,[Q82955],[Q241149],None,Q348577,None,item,[Q1841]
15,Joe Girardi,Q1186457,116,[Joseph Elliot Girardi],[+1964-10-14T00:00:00Z],[Q30],[Q6581097],1377618193,None,None,"[Q10871364, Q1186921]",None,None,Q1186457,None,item,None
16,Malcolm Turnbull,Q927550,113,[Malcolm Bligh Turnbull],[+1954-10-24T00:00:00Z],[Q408],[Q6581097],1388042865,None,None,"[Q1930187, Q82955, Q131524, Q40348, Q2883465]",[Q241149],None,Q927550,None,item,[Q1841]
17,Tim Cook,Q1404825,110,None,[+1984-03-13T00:00:00Z],[Q30],[Q6581097],1323626384,None,None,[Q11774891],None,None,Q1404825,None,item,None
18,Mike Pence,Q24313,103,"[Michael R. Pence, Rep. Mike Pence, Michael Pe...",[+1959-06-07T00:00:00Z],[Q30],[Q6581097],1395854609,None,P000587,"[Q82955, Q40348, Q2722764]",[Q29468],None,Q24313,None,item,[Q13631353]
21,LeBron James,Q36159,96,"[LeBron Raymone James Sr., King James, LBJ, Le...",[+1984-12-30T00:00:00Z],[Q30],[Q6581097],1395492157,[Q49085],None,"[Q3665646, Q28389, Q10798782]",None,None,Q36159,None,item,None

In [178]:
len(df_merged)

55070

## 3. Exploratory analysis

### Regression analysis using bolean value